{% extends "base.twig" %}

{% block content %}
	{% embed 'hero-kierunek.twig' %}
		{% block heroText %}

			<h2 class="t-big text-center">
				{{ post.parent.title }}
			</h2>
			<h3 class="text-center t-2 t-bold">{{ post.title }}</h3>
			{% include 'breadcrumbs.twig' %}

		{% endblock %}
	{% endembed %}
	<nav class="direction__nav">
		<div class="container">
			<div class="row">
				<a href="{{post.paren.link}}" class="dirertion__link dirertion__link--active">Opis kierunku</a>

				{% if post.parent.children %}
					{% for child in  post.parent.children('page') %}
						<a href="{{ child.link }}" class="dirertion__link">{{ child.title }}</a>
					{% endfor %}
				{% endif %}
				<a href="#" class="btn btn--accent-solid">Więcej</a>

			</div>
		</div>
	</nav>

	<section class="level__caption">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="section-title direction__heading t-title t-title--accent" data-aos="fade-down-short" data-aos-duration="1000">
						Wymagane dokumenty
					</h3>
					<p class="level__alert t-p--alert t-underline">Dokumenty należy składać osobiście. W innym przypadku konieczne jest przedstawienie upoważnienia notarialnego. O przyjęciu na studia decyduje złożenie kompletu dokumentów oraz kolejność zgłoszeń.</p>

					<ol class="list level__list">
						<li class="level__item">
							<a href="#">Podanie (wydrukowane dwustronnie; drukowane litery)</a>
						</li>
						<li class="level__item">Kserokopia świadectwa dojrzałości (oryginał do wglądu)</li>
						<li class="level__item">Kserokopia świadectwa ukończenia szkoły średniej (oryginał do wglądu)
						</li>
						<li class="level__item">1 fotografia legitymacyjna</li>
						<li class="level__item">CD ze zdjęciem w formacie 295 x 236 pikseli (plik w formacie jpg)</li>
						<li class="level__item">Potwierdzenie wpłaty na konto Uczelni wpisowego, pierwszej raty czesnego oraz opłaty za legitymację</li>


					</ol>
				</div>
			</div>
			<div class="row level__choose-row">
				<div class="col-12 col-sm-6 student__col student__col--1">
					<div class="student__inner" style="background: url({{ theme.path}}/static/img/future.jpg) center / cover">
						<div class="student__gradient-bg"></div>

						<svg width="512" height="512" viewbox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M471.215 43.418H443.699V24.8672C443.699 11.1562 432.543 0 418.832 0C405.113 0 393.953 11.1562 393.953 24.8672V43.418H377.227V24.8672C377.227 11.1562 366.07 0 352.359 0C338.641 0 327.48 11.1562 327.48 24.8672V43.418H307.328C303.055 43.418 299.609 46.875 299.609 51.1367C299.609 55.3984 303.055 58.8555 307.328 58.8555H327.48V77.4023C327.48 91.125 338.641 102.281 352.359 102.281C366.07 102.281 377.227 91.125 377.227 77.4023V58.8555H393.953V77.4023C393.953 91.125 405.113 102.281 418.832 102.281C432.543 102.281 443.699 91.125 443.699 77.4023V58.8555H471.215C476.219 58.8555 480.293 62.9336 480.293 67.9336V128.633C475.449 128.633 56.9922 128.633 32.4414 128.633V67.9336C32.4414 62.9336 36.5156 58.8555 41.5195 58.8555H69.0312V77.4023C69.0312 91.125 80.1875 102.281 93.8984 102.281C107.621 102.281 118.777 91.125 118.777 77.4023V58.8555H135.504V77.4023C135.504 91.125 146.664 102.281 160.371 102.281C174.094 102.281 185.25 91.125 185.25 77.4023V58.8555H276.449C280.711 58.8555 284.168 55.3984 284.168 51.1367C284.168 46.875 280.711 43.418 276.449 43.418H185.25V24.8672C185.25 11.1562 174.094 0 160.371 0C146.664 0 135.504 11.1562 135.504 24.8672V43.418H118.777V24.8672C118.777 11.1562 107.621 0 93.8984 0C80.1875 0 69.0312 11.1562 69.0312 24.8672V43.418H41.5195C28.0039 43.418 17 54.418 17 67.9336V469.777C17 493.062 35.9492 512 59.2344 512H72.6562C76.918 512 80.375 508.551 80.375 504.281C80.375 500.02 76.918 496.559 72.6562 496.559H59.2344C44.4609 496.559 32.4414 484.547 32.4414 469.777V431.746H480.293V469.777C480.293 484.547 468.27 496.559 453.5 496.559H103.535C99.2734 496.559 95.8125 500.02 95.8125 504.281C95.8125 508.551 99.2734 512 103.535 512H453.5C476.781 512 495.734 493.062 495.734 469.777C495.734 453.625 495.734 85.0938 495.734 67.9336C495.734 54.418 484.73 43.418 471.215 43.418V43.418ZM359.02 84.0742C357.32 85.7812 354.953 86.8438 352.359 86.8438C347.152 86.8438 342.922 82.6133 342.922 77.4023C342.922 50.4883 342.922 51.8086 342.922 24.8672C342.922 19.6719 347.152 15.4414 352.359 15.4414C357.559 15.4414 361.789 19.6719 361.789 24.8672C361.789 81.6523 362.813 80.2812 359.02 84.0742V84.0742ZM428.262 77.4023C428.262 82.6133 424.031 86.8438 418.832 86.8438C413.625 86.8438 409.395 82.6133 409.395 77.4023C409.395 50.4766 409.395 51.8086 409.395 24.8672C409.395 19.6719 413.625 15.4414 418.832 15.4414C424.031 15.4414 428.262 19.6719 428.262 24.8672V77.4023ZM150.945 24.8672C150.945 19.6719 155.176 15.4414 160.371 15.4414C165.582 15.4414 169.812 19.6719 169.812 24.8672V77.4023C169.812 82.6133 165.582 86.8438 160.371 86.8438C155.176 86.8438 150.945 82.6133 150.945 77.4023C150.945 61.6719 150.945 40.6055 150.945 24.8672ZM84.4727 24.8672C84.4727 19.6719 88.7031 15.4414 93.8984 15.4414C99.1094 15.4414 103.34 19.6719 103.34 24.8672V77.4023C103.34 82.6133 99.1094 86.8438 93.8984 86.8438C88.7031 86.8438 84.4727 82.6133 84.4727 77.4023C84.4727 61.6719 84.4727 40.6055 84.4727 24.8672ZM109.66 416.305H32.4414V336.215H109.66V416.305ZM109.66 320.773H32.4414V240.695H109.66V320.773ZM109.66 224.152H32.4414C32.4414 207.82 32.4414 160.215 32.4414 144.074H109.66V224.152ZM202.316 416.305H125.098V336.215H202.316V416.305ZM202.316 320.773H125.098V240.695H202.316V320.773ZM202.316 224.152H125.098V144.074H202.316V224.152ZM294.977 416.305H217.758V336.215H294.977V416.305ZM294.977 320.773H217.758V240.695H294.977V320.773ZM294.977 224.152H217.758V144.074H294.977V224.152ZM387.633 416.305H310.414V336.215H387.633V416.305ZM387.633 320.773H310.414V240.695H387.633V320.773ZM387.633 224.152H310.414V144.074H387.633V224.152ZM480.293 416.305H403.074V336.215H480.293V416.305ZM480.293 320.773H403.074V240.695H480.293V320.773ZM480.293 224.152H403.074V144.074H480.293V224.152Z" fill="black"/>
							<path d="M150.035 210.754C153.285 214.004 158.676 213.719 161.551 210.078L198.324 163.504C200.965 160.157 200.395 155.301 197.047 152.66C193.699 150.02 188.848 150.59 186.207 153.934L154.812 193.7L143.18 182.063C140.164 179.047 135.277 179.047 132.262 182.063C129.246 185.078 129.246 189.965 132.262 192.981L150.035 210.754Z" fill="black"/>
							<path d="M150.035 308.754C153.285 312.004 158.676 311.719 161.551 308.078L198.324 261.504C200.965 258.157 200.395 253.301 197.047 250.66C193.699 248.02 188.848 248.59 186.207 251.934L154.812 291.7L143.18 280.063C140.164 277.047 135.277 277.047 132.262 280.063C129.246 283.078 129.246 287.965 132.262 290.981L150.035 308.754Z" fill="black"/>
							<path d="M150.035 406.754C153.285 410.004 158.676 409.719 161.551 406.078L198.324 359.504C200.965 356.157 200.395 351.301 197.047 348.66C193.699 346.02 188.848 346.59 186.207 349.934L154.812 389.7L143.18 378.063C140.164 375.047 135.277 375.047 132.262 378.063C129.246 381.078 129.246 385.965 132.262 388.981L150.035 406.754Z" fill="black"/>
							<path d="M57.0352 210.754C60.2852 214.004 65.6758 213.719 68.5508 210.078L105.324 163.504C107.965 160.157 107.395 155.301 104.047 152.66C100.699 150.02 95.8477 150.59 93.207 153.934L61.8125 193.7L50.1797 182.063C47.1641 179.047 42.2773 179.047 39.2617 182.063C36.2461 185.078 36.2461 189.965 39.2617 192.981L57.0352 210.754Z" fill="black"/>
							<path d="M57.0352 308.754C60.2852 312.004 65.6758 311.719 68.5508 308.078L105.324 261.504C107.965 258.157 107.395 253.301 104.047 250.66C100.699 248.02 95.8477 248.59 93.207 251.934L61.8125 291.7L50.1797 280.063C47.1641 277.047 42.2773 277.047 39.2617 280.063C36.2461 283.078 36.2461 287.965 39.2617 290.981L57.0352 308.754Z" fill="black"/>
							<path d="M57.0352 406.754C60.2852 410.004 65.6758 409.719 68.5508 406.078L105.324 359.504C107.965 356.157 107.395 351.301 104.047 348.66C100.699 346.02 95.8477 346.59 93.207 349.934L61.8125 389.7L50.1797 378.063C47.1641 375.047 42.2773 375.047 39.2617 378.063C36.2461 381.078 36.2461 385.965 39.2617 388.981L57.0352 406.754Z" fill="black"/>
							<path d="M246.492 213.027C248.863 213.027 251.09 211.937 252.551 210.09L289.32 163.512C291.961 160.168 291.391 155.312 288.047 152.672C284.699 150.031 279.844 150.598 277.203 153.945L245.812 193.707L234.18 182.074C231.164 179.059 226.273 179.059 223.262 182.074C220.246 185.09 220.246 189.977 223.262 192.992C242.246 211.977 242.262 213.027 246.492 213.027Z" fill="black"/>
							<path d="M246.492 311.027C248.863 311.027 251.09 309.937 252.551 308.09L289.32 261.512C291.961 258.168 291.391 253.312 288.047 250.672C284.699 248.031 279.844 248.598 277.203 251.945L245.812 291.707L234.18 280.074C231.164 277.059 226.273 277.059 223.262 280.074C220.246 283.09 220.246 287.977 223.262 290.992C242.246 309.977 242.262 311.027 246.492 311.027Z" fill="black"/>
							<path d="M246.492 409.027C248.863 409.027 251.09 407.938 252.551 406.09L289.32 359.512C291.961 356.168 291.391 351.313 288.047 348.672C284.699 346.031 279.844 346.598 277.203 349.945L245.812 389.707L234.18 378.074C231.164 375.059 226.273 375.059 223.262 378.074C220.246 381.09 220.246 385.977 223.262 388.992C242.246 407.977 242.262 409.027 246.492 409.027Z" fill="black"/>
						</svg>

						<h3 class="t-3 t-bold">
							Kandydaci na studia stacjonarne:
							<span class="u-accent">782 zł</span>
						</h3>
						<p>Opłata zawiera: wpisowe 400 zł, I rata czesnego 360 zł, opłata za legitymację 22 zł</p>
					</div>
				</div>
				<div class="col-12 col-sm-6 student__col student__col--4">
					<div class="student__inner" style="background: url({{ theme.path}}/static/img/future.jpg) center / cover">
						<div class="student__gradient-bg"></div>


						<svg width="512" height="512" viewbox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M471.215 43.418H443.699V24.8672C443.699 11.1562 432.543 0 418.832 0C405.113 0 393.953 11.1562 393.953 24.8672V43.418H377.227V24.8672C377.227 11.1562 366.07 0 352.359 0C338.641 0 327.48 11.1562 327.48 24.8672V43.418H307.328C303.055 43.418 299.609 46.875 299.609 51.1367C299.609 55.3984 303.055 58.8555 307.328 58.8555H327.48V77.4023C327.48 91.125 338.641 102.281 352.359 102.281C366.07 102.281 377.227 91.125 377.227 77.4023V58.8555H393.953V77.4023C393.953 91.125 405.113 102.281 418.832 102.281C432.543 102.281 443.699 91.125 443.699 77.4023V58.8555H471.215C476.219 58.8555 480.293 62.9336 480.293 67.9336V128.633C475.449 128.633 56.9922 128.633 32.4414 128.633V67.9336C32.4414 62.9336 36.5156 58.8555 41.5195 58.8555H69.0312V77.4023C69.0312 91.125 80.1875 102.281 93.8984 102.281C107.621 102.281 118.777 91.125 118.777 77.4023V58.8555H135.504V77.4023C135.504 91.125 146.664 102.281 160.371 102.281C174.094 102.281 185.25 91.125 185.25 77.4023V58.8555H276.449C280.711 58.8555 284.168 55.3984 284.168 51.1367C284.168 46.875 280.711 43.418 276.449 43.418H185.25V24.8672C185.25 11.1562 174.094 0 160.371 0C146.664 0 135.504 11.1562 135.504 24.8672V43.418H118.777V24.8672C118.777 11.1562 107.621 0 93.8984 0C80.1875 0 69.0312 11.1562 69.0312 24.8672V43.418H41.5195C28.0039 43.418 17 54.418 17 67.9336V469.777C17 493.062 35.9492 512 59.2344 512H72.6562C76.918 512 80.375 508.551 80.375 504.281C80.375 500.02 76.918 496.559 72.6562 496.559H59.2344C44.4609 496.559 32.4414 484.547 32.4414 469.777V431.746H480.293V469.777C480.293 484.547 468.27 496.559 453.5 496.559H103.535C99.2734 496.559 95.8125 500.02 95.8125 504.281C95.8125 508.551 99.2734 512 103.535 512H453.5C476.781 512 495.734 493.062 495.734 469.777C495.734 453.625 495.734 85.0938 495.734 67.9336C495.734 54.418 484.73 43.418 471.215 43.418V43.418ZM359.02 84.0742C357.32 85.7812 354.953 86.8438 352.359 86.8438C347.152 86.8438 342.922 82.6133 342.922 77.4023C342.922 50.4883 342.922 51.8086 342.922 24.8672C342.922 19.6719 347.152 15.4414 352.359 15.4414C357.559 15.4414 361.789 19.6719 361.789 24.8672C361.789 81.6523 362.813 80.2812 359.02 84.0742V84.0742ZM428.262 77.4023C428.262 82.6133 424.031 86.8438 418.832 86.8438C413.625 86.8438 409.395 82.6133 409.395 77.4023C409.395 50.4766 409.395 51.8086 409.395 24.8672C409.395 19.6719 413.625 15.4414 418.832 15.4414C424.031 15.4414 428.262 19.6719 428.262 24.8672V77.4023ZM150.945 24.8672C150.945 19.6719 155.176 15.4414 160.371 15.4414C165.582 15.4414 169.812 19.6719 169.812 24.8672V77.4023C169.812 82.6133 165.582 86.8438 160.371 86.8438C155.176 86.8438 150.945 82.6133 150.945 77.4023C150.945 61.6719 150.945 40.6055 150.945 24.8672ZM84.4727 24.8672C84.4727 19.6719 88.7031 15.4414 93.8984 15.4414C99.1094 15.4414 103.34 19.6719 103.34 24.8672V77.4023C103.34 82.6133 99.1094 86.8438 93.8984 86.8438C88.7031 86.8438 84.4727 82.6133 84.4727 77.4023C84.4727 61.6719 84.4727 40.6055 84.4727 24.8672ZM109.66 416.305H32.4414V336.215H109.66V416.305ZM109.66 320.773H32.4414V240.695H109.66V320.773ZM109.66 224.152H32.4414C32.4414 207.82 32.4414 160.215 32.4414 144.074H109.66V224.152ZM202.316 416.305H125.098V336.215H202.316V416.305ZM202.316 320.773H125.098V240.695H202.316V320.773ZM202.316 224.152H125.098V144.074H202.316V224.152ZM294.977 416.305H217.758V336.215H294.977V416.305ZM294.977 320.773H217.758V240.695H294.977V320.773ZM294.977 224.152H217.758V144.074H294.977V224.152ZM387.633 416.305H310.414V336.215H387.633V416.305ZM387.633 320.773H310.414V240.695H387.633V320.773ZM387.633 224.152H310.414V144.074H387.633V224.152ZM480.293 416.305H403.074V336.215H480.293V416.305ZM480.293 320.773H403.074V240.695H480.293V320.773ZM480.293 224.152H403.074V144.074H480.293V224.152Z" fill="black"/>
							<path d="M334.035 210.754C337.285 214.004 342.676 213.719 345.551 210.078L382.324 163.504C384.965 160.157 384.395 155.301 381.047 152.66C377.699 150.02 372.848 150.59 370.207 153.934L338.812 193.7L327.18 182.063C324.164 179.047 319.277 179.047 316.262 182.063C313.246 185.078 313.246 189.965 316.262 192.981L334.035 210.754Z" fill="black"/>
							<path d="M430.492 213.027C432.863 213.027 435.09 211.937 436.551 210.09L473.32 163.512C475.961 160.168 475.391 155.312 472.047 152.672C468.699 150.031 463.844 150.598 461.203 153.945L429.812 193.707L418.18 182.074C415.164 179.059 410.273 179.059 407.262 182.074C404.246 185.09 404.246 189.977 407.262 192.992C426.246 211.977 426.262 213.027 430.492 213.027Z" fill="black"/>
							<path d="M430.492 406.017C432.863 406.017 435.09 404.927 436.551 403.08L473.32 356.502C475.961 353.158 475.391 348.302 472.047 345.662C468.699 343.021 463.844 343.587 461.203 346.935L429.812 386.697L418.18 375.064C415.164 372.048 410.273 372.048 407.262 375.064C404.246 378.08 404.246 382.966 407.262 385.982C426.246 404.966 426.262 406.017 430.492 406.017Z" fill="black"/>
							<path d="M339.492 406.281C341.867 406.281 344.094 405.191 345.555 403.344L382.324 356.766C384.965 353.422 384.395 348.566 381.047 345.922C377.703 343.281 372.848 343.852 370.207 347.199L338.812 386.961L327.18 375.328C324.164 372.312 319.277 372.312 316.262 375.328C313.246 378.344 313.246 383.23 316.262 386.242C335.246 405.23 335.262 406.281 339.492 406.281V406.281Z" fill="black"/>
						</svg>

						<h3 class="t-3 t-bold">
							Kandydaci na studia niestacjonarne:
							<span class="u-accent">782 zł</span>
						</h3>
						<p>Opłata zawiera: wpisowe 400 zł, I rata czesnego 360 zł, opłata za legitymację 22 zł</p>
					</div>
				</div>


			</div>
			<div class="row level__payment">
				<div class="col-8">
					<h3 class="t-2 t-extra t-subtitle " data-aos="fade-down-short" data-aos-duration="1000">
						Opłata za studia może być wnoszona w jednej z dwóch form:
					</h3>

				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<h4 class="t-3 direction__subheading t-extra">
						<span class="t-number">1.</span>Opłaty miesięczne
					</h4>
					<p>Czesne za rok:</p>
					<ul class="list rektor__list rektor__list--kierunki">
						<li>
							<span class="u-accent">studia stacjonarne:</span>
							3.600 zł (płatne w 10 ratach po 360 zł)
						</li>
						<li>
							<span class="u-accent">studia niestacjonarne:</span>
							3.600 zł  (płatne w 10 ratach po 360 zł)
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-8">
					<h4 class="t-3 direction__subheading t-extra">
						<span class="t-number">2.</span>Opłaty roczne
					</h4>
					Studenci studiów stacjonarnych i niestacjonarnych, którzy dokonują opłat do 10 października za cały rok akademicki, otrzymują zniżkę w opłacie czesnego - 200 zł.
				</div>
			</div>
		</div>
	</section>
{% endblock %}
