{% extends "base.twig" %}

{% block content %}
	{% embed 'hero-kierunek.twig' %}
		{% block heroText %}

			<h2 class="t-big text-center">{{ post.title }}</h2>
			{% include 'breadcrumbs.twig' %}

		{% endblock %}
	{% endembed %}


	<nav class="direction__nav">
		<div class="container">
			<div class="row">
				<a href="#" class="dirertion__link dirertion__link--active">Opis kierunku</a>

				{% if post.children %}
					{% for child in post.children('page') %}
						<a href="{{ child.link }}" class="dirertion__link">{{ child.title }}</a>
					{% endfor %}
				{% endif %}
				<a href="#direction" class="btn btn--accent-solid">Więcej</a>
			</div>
		</div>
	</nav>
	{% set intro = post.meta('intro') %}
	<section class="direction__desc" id="direction">
		<div class="container">
			<div class="row direction__first-row">
				<div class="col-12 col-md-8 ">
					<h2 class="t-3 direction__subheading t-extra">{{ intro.title }}</h2>
					<div class="direction__wysiwig">
						{{ intro.desc }}</div>

				</div>
				<div class="col-12 col-md-4 direction__img-col">
					<img src="{{ Image(intro.img) }}" alt="" class="img-fluid">
				</div>
			</div>
			<div class="row direction__row">


				{% for item in post.meta('cols') %}
					<div class="col-12 col-sm-6 col-md-4 student__col student__col--1">
						<div class="student__inner" style="background: url({{ Image(item.img) }}) center / cover">
							<div class="student__gradient-bg" style="background-image: linear-gradient(45deg, {{ item.pierwszy_kolor }}, {{ item.drugi_kolor }});"></div>
							<div class="student__icon">
								<img src="{{ Image(item.icon) }}" alt="" class="student__icon-img">
							</div>


							<h3 class="t-5 t-bold">
								{{ item.title }}
							</h3>
							<p class="t-p--small">{{ item.desc }}</p>
						</div>
					</div>
				{% endfor %}

			</div>


			<div class="row direction__caption ">
				<div class="col-12 col-md-8">
					<h3 class="section-title direction__heading t-title t-title--accent" data-aos="fade-down-short" data-aos-duration="1000">
						Specjalności
					</h3>
					{% set count = 1 %}
					{% for item in post.meta('specjalnosci') %}

						<h2 class="t-3 direction__subheading t-extra">
							<span class="t-number">{{ count }}</span>
							{{ item.title }}</h2>
						<div class="direction__caption-wysiwyg">
							{{ item.desc }}

						</div>
						{% set count = count + 1 %}
					{% endfor %}
				</div>
				{% if post.meta('note') is defined %}
					<div class="row level__note-row" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="400">
						<div class="level__note">
							{{ post.meta('note_direction') }}
						</div>
					</div>
				{% endif %}
				<div class="col-12 col-md-4 dircetion__sidebar"></div>

			</div>
		</div>
	</section>
{% endblock %}
