{% extends "base.twig" %}

{% block content %}
	{% embed 'hero-kierunek.twig' %}
		{% block heroText %}

			<h2 class="t-big text-center">
				{{ post.parent.title }}
			</h2>
			<h3 class="text-center t-2 t-bold level__subtitle">{{ post.title }}</h3>
			{% include 'breadcrumbs.twig' %}

		{% endblock %}
	{% endembed %}

	<nav class="direction__nav">
		<div class="container">
			<div class="row">
				<a href="{{post.parent.link}}" class="dirertion__link">Opis kierunku</a>

				{% for child in  post.parent.children('page') %}
					{# <a href="{{ child.link }}" class="dirertion__link">{{ child.title }}</a> #}
					{% if post.meta('informacje').stopien == 'Pierwszy'  %}
						{% if loop.index0 == 0 %}
							<a href="{{ child.link }}" class="dirertion__link dirertion__link--active">{{ child.title }}</a>
						{% else %}
							<a href="{{ child.link }}" class="dirertion__link">{{ child.title }}</a>
						{% endif %}


					{% elseif post.meta('informacje').stopien == 'Drugi'  %}
						{% if loop.index0 == 1 %}
							<a href="{{ child.link }}" class="dirertion__link dirertion__link--active">{{ child.title }}</a>
						{% else %}
							<a href="{{ child.link }}" class="dirertion__link">{{ child.title }}</a>
						{% endif %}
					{% endif %}


				{% endfor %}


				{# <a href="#" class="btn btn--accent-solid">Więcej</a> #}

			</div>
		</div>
	</nav>

	<section class="level__caption">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h3 class="section-title direction__heading t-title t-title--accent" data-aos="fade-down-short" data-aos-duration="1000">
						Wymagane dokumenty
					</h3>
					<p class="level__alert t-p--alert t-underline" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="400">Dokumenty należy składać osobiście. W innym przypadku konieczne jest przedstawienie upoważnienia notarialnego. O przyjęciu na studia decyduje złożenie kompletu dokumentów oraz kolejność zgłoszeń.</p>

					<div class="level__list-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="400">
						<ol class="list level__list">
							<li class="level__item">
								<a href="#">Podanie (wydrukowane dwustronnie; drukowane litery)</a>
							</li>
							<li class="level__item">Kserokopia świadectwa dojrzałości (oryginał do wglądu)</li>
							<li class="level__item">Kserokopia świadectwa ukończenia szkoły średniej (oryginał do wglądu)
							</li>
							<li class="level__item">1 fotografia legitymacyjna</li>
							<li class="level__item">CD ze zdjęciem w formacie 295 x 236 pikseli (plik w formacie jpg)</li>
							<li class="level__item">Potwierdzenie wpłaty na konto Uczelni wpisowego, pierwszej raty czesnego oraz opłaty za legitymację</li>


						</ol>
					</div>
				</div>
			</div>
			<div class="row level__choose-row" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="400">


				{% for item in post.meta('payments') %}
					<div class="col-12 col-sm-6 student__col level__col-repeater">
						<div class="student__inner" style="background: url({{ Image(item.img) }}) center / cover">


							<div class="student__gradient-bg" style="background-image: linear-gradient(45deg, {{ item.background.pierwszy_kolor }}, {{ item.background.drugi_color }});"></div>
							<img src="{{ Image(item.icon).src }}" alt="stopien studiów ikona" class="level__icon">


							<div class="level__heading-repeater">
								{{ item.title }}

							</div>
							{# <span class="u-accent">782 zł</span> #}

							<p>{{ item.desc }}</p>
						</div>
					</div>
				{% endfor %}


			</div>
			<div class="row level__payment">
				<div class="col-8">
					<h3 class="t-2 t-extra t-subtitle " data-aos="fade-down-short" data-aos-duration="1000">
						Opłata za studia może być wnoszona w jednej z dwóch form:
					</h3>

				</div>
			</div>
			<div class="row" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="400">
				<div class="col-12">
					<h4 class="t-3 direction__subheading t-extra">
						<span class="t-number">1.</span>Opłaty miesięczne
					</h4>
					<p>Czesne za rok:</p>
					<ul class="list rektor__list rektor__list--kierunki">
						<li>
							<span class="u-accent">studia stacjonarne:</span>
							3.600 zł (płatne w 10 ratach po 360 zł)
						</li>
						<li>
							<span class="u-accent">studia niestacjonarne:</span>
							3.600 zł  (płatne w 10 ratach po 360 zł)
						</li>
					</ul>
				</div>
			</div>
			<div class="row" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="400">
				<div class="col-12 col-md-8">
					<h4 class="t-3 direction__subheading t-extra">
						<span class="t-number">2.</span>Opłaty roczne
					</h4>
					Studenci studiów stacjonarnych i niestacjonarnych, którzy dokonują opłat do 10 października za cały rok akademicki, otrzymują zniżkę w opłacie czesnego - 200 zł.
				</div>
			</div>
			{% if post.meta('note') is defined %}
				<div class="row level__note-row" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="400">
					<div class="level__note">
						{{ post.meta('note') }}
					</div>
				</div>
			{% endif %}
			<div class="row level__extra-info" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="400">
				<div class="col-12">

					<p class="t-p--medium t-bold">
						Opłat należy dokonywać na konto bankowe: Bank Spółdzielczy w Brańsku
						<br>
						Nr konta:
						<span class="u-accent">44 8063 0001 0100 0200 7214 0001</sppanp>
						z dopiskiem "rekrutacja + kierunek studiów".
					</p>
				</div>
			</div>


		</div>
	</section>
{% endblock %}
