{% extends "base.twig" %}

{% block content %}
	<section class="u-gray contact">
		<div class="container contact__container">
			<div class="contact__row">
				<h2 class="section-title about__heading t-title t-title--accent" data-aos="fade-down-short" data-aos-duration="1000">
					Kontakt
				</h2>
			</div>
			<div class="contact__row--info" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">
				<p class="t-2 t-extra t-subtitle">Skontaktuj się z nami!</p>
				<p>Potrzebujesz więcej informacji? Poniżej znajdziesz wszystkie potrzebne dane kontaktowe.
				</p>
			</div>
		</div>

		<div class="container contact-info">
			<div class="row contact-info__row" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
				<div class="col-xs-12 col-md-6 contact-info__col">
					<div class="contact-info__wrapper">
						<h4 class="t-title t-title--small">
							Główna siedziba
						</h4>
						<p>Niepaństwowa Wyższa Szkoła Pedagogiczna w Białymstoku</p>
						<ul class="contact-list contact__list--details">
							<li class="contact-item">
								<img src="{{ theme.path }}/static/img/adress.png" alt="">
								Al. Jana Pawła II 91, 15-703 Białystok</li>
							<li class="contact-item">
								<img src="{{ theme.path }}/static/img/call.png" alt="">
								<a href="tel:857420199" class="contact-item__link">tel. (85) 742 01 99</a>
							</li>
							<li class="contact-item">
								<img src="{{ theme.path }}/static/img/call.png" alt="">
								<a href="tel:857420199" class="contact-item__link">tel/fax. (85) 744 26 00</a>
							</li>
						</ul>
						<p class="contact__bank-account">Bank Spółdzielczy w Brańsku
							<br>
							Nr konta:
							<strong>44 8063 0001 0100 0200 7214 0001</strong>
						</p>
					</div>
				</div>

				<div class="col-xs-12 col-md-3 contact-info__col contact-info__col--hours">
					<div class="contact-info__wrapper">
						<h4 class="t-title t-title--small">
							Rektorat, dziekanat
						</h4>
						<p>Godziny pracy</p>
						<ul class="contact-list">
							<li class="contact-item  contact-item--open-hours">
								<div class="contact__days">
									<p>Pon-pt</p>
								</div>
								<div class="contact__hours">
									<p>07:30-15:30</p>
								</div>
							</li>
							<li class="contact-item contact-item--open-hours">
								<div class="contact__days">
									<p>Sobota</p>
								</div>
								<div class="contact__hours">
									<p>08:00-16:00</p>
								</div>
							</li>
							<li class="contact-item contact-item--open-hours">
								<div class="contact__days">
									<p>Niedziela</p>
								</div>
								<div class="contact__hours">
									<p>nieczynne</p>
								</div>
							</li>
						</ul>
						<ul class="contact-list contact__list--details">
							<li class="contact-item">
								<img src="{{ theme.path }}/static/img/email.png" alt="">
								<a href="mailto:rektorat@nwsp.bialystok.pl">rektorat@nwsp.bialystok.pl</a>
							</li>
							<li class="contact-item">
								<img src="{{ theme.path }}/static/img/email.png" alt="">
								<a href="mailto:rektorat@nwsp.bialystok.pl">nwsp@nwsp.bialystok.pl</a>
							</li>
							<li class="contact-item">
								<img src="{{ theme.path }}/static/img/call.png" alt="">
								<a href="tel:857420199" class="contact-item__link">(85) 744 01 99 wew. 11, 12</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-xs-12 col-md-3 contact-info__col contact-info__col--hours">
					<div class="contact-info__wrapper">
						<h4 class="t-title t-title--small">
							Rekrutacja
						</h4>
						<p>Godziny pracy</p>
						<ul class="contact-list">
							<li class="contact-item contact-item--open-hours">
								<div class="contact__days">
									<p>Pon-pt</p>
								</div>
								<div class="contact__hours">
									<p>07:30-15:30</p>
								</div>
							</li>
							<li class="contact-item contact-item--open-hours">
								<div class="contact__days">
									<p>Sobota</p>
								</div>
								<div class="contact__hours">
									<p>nieczynne</p>
								</div>
							</li>
							<li class="contact-item contact-item--open-hours">
								<div class="contact__days">
									<p>Niedziela</p>
								</div>
								<div class="contact__hours">
									<p>nieczynne</p>
								</div>
							</li>
						</ul>
						<ul class="contact-list contact__list--details">
							<li class="contact-item">
								<img src="{{ theme.path }}/static/img/email.png" alt="">
								<a href="mailto:rekrutacja@nwsp.bialystok.pl">rekrutacja@nwsp.bialystok.pl</a>
							</li>
							<li class="contact-item">
								<img src="{{ theme.path }}/static/img/call.png" alt="">
								<a href="tel:857420199" class="contact-item__link">(85) 744 01 99 wew. 13</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row contact-info__row" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="900" data-aos-offset="-200">

				<div class="col-xs-12 col-md-3 contact-info__col">
					<div class="contact-info__wrapper">
						<h4 class="t-title t-title--small">
							Drugi budynek
						</h4>
						<p>Niepaństwowa Wyższa Szkoła Pedagogiczna w Białymstoku</p>
						<ul class="contact-list contact__list--details">
							<li class="contact-item">
								<img src="{{ theme.path }}/static/img/adress.png" alt="">
								ul. Hetmańska, 15-727 Białystok
							</li>

							<li class="contact-item">
								<img src="{{ theme.path }}/static/img/call.png" alt="">
								<a href="tel:607697520" class="contact-item__link">607 697 520</a>
							</li>
						</ul>

					</div>
				</div>

				<div class="col-xs-12 col-md-3 contact-info__col contact-info__col--hours">
					<div class="contact-info__wrapper">
						<h4 class="t-title t-title--small">
							Biblioteka
						</h4>
						<p>Godziny pracy</p>
						<ul class="contact-list">
							<li class="contact-item contact-item--open-hours">
								<div class="contact__days">
									<p>Wt-pt</p>
								</div>
								<div class="contact__hours">
									<p>08:30-15:30</p>
								</div>
							</li>
							<li class="contact-item contact-item--open-hours">
								<div class="contact__days">
									<p>Sobota</p>
								</div>
								<div class="contact__hours">
									<p>08:30-16:30</p>
								</div>
							</li>
							<li class="contact-item contact-item--open-hours">
								<div class="contact__days">
									<p>Ndz-pon</p>
								</div>
								<div class="contact__hours">
									<p>nieczynne</p>
								</div>
							</li>
						</ul>
						<ul class="contact-list contact__list--details">
							<li class="contact-item">
								<img src="{{ theme.path }}/static/img/email.png" alt="">
								<a href="mailto:biblioteka@nwsp.bialystok.pl">biblioteka@nwsp.bialystok.pl</a>
							</li>
							<li class="contact-item">
								<img src="{{ theme.path }}/static/img/call.png" alt="">
								<a href="tel:857420199" class="contact-item__link">(85) 744 01 99 wew. 18</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 contact-info__col contact-info__col--hours contact-info__col--kwestura">
					<div class="contact-info__wrapper">
						<h4 class="t-title t-title--small">
							Kwestura
						</h4>
						<p>Godziny pracy</p>
						<ul class="contact-list">
							<li class="contact-item contact-item--open-hours">
								<div class="contact__days">
									<p>Pon-pt</p>
								</div>
								<div class="contact__hours">
									<p>07:30-15:30</p>
								</div>
							</li>
							<li class="contact-item contact-item--open-hours">
								<div class="contact__days">
									<p>Sobota</p>
								</div>
								<div class="contact__hours">
									<p>08:00-16:00</p>
								</div>
							</li>
							<li class="contact-item contact-item--open-hours">
								<div class="contact__days">
									<p>Niedziela</p>
								</div>
								<div class="contact__hours">
									<p>nieczynne</p>
								</div>
							</li>
						</ul>
						<ul class="contact-list contact__list--details">
							<li class="contact-item">
								<img src="{{ theme.path }}/static/img/email.png" alt="">
								<a href="mailto:kwestura@nwsp.bialystok.pl">kwestura@nwsp.bialystok.pl</a>
							</li>

						</ul>
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<p>Dział planowania</p>
								<span class="contact-info__span">
									<img src="{{ theme.path }}/static/img/call.png" alt="">
									<a href="tel:857420199" class="contact-item__link">(85) 742 01 99 wew. 17</a>
								</span>
							</div>
							<div class="col-xs-12 col-md-6">
								<p>Informatyk</p>
								<span class="contact-info__span">
									<img src="{{ theme.path }}/static/img/call.png" alt="">
									<a href="tel:857420199" class="contact-item__link">(85) 742 01 99 wew. 16</a>
								</span>
								<span class="contact-info__span">
									<img src="{{ theme.path }}/static/img/email.png" alt="">
									<a href="mailto:nwspinf@nwsp.bialystok.pl">nwspinf@nwsp.bialystok.pl</a>
								</span>
							</div>
							<div class="col-xs-12 col-md-6">
								<p>Księgowość i kadry</p>
								<span class="contact-info__span">
									<img src="{{ theme.path }}/static/img/call.png" alt="">
									<a href="tel:857442600" class="contact-item__link">(85) 744 26 00</a>
								</span>
							</div>

						</div>


					</div>
				</div>

			</div>

		</div>
	</div>

</section>{% endblock %}
