{% extends "base.twig" %}

{% block content %}

	{# hero here #}
	<section class="home-hero">
		<div class="hero">
			<div class="hero__container d-flex section-full align-items-center flex-wrap">

				<div class="hero__item slick-slide" style="background: url('{{ theme.path }}/static/img/slider1.jpg') center / cover">


					<div class="hero__slide-wrapper container u-h-100">
						<div class="hero__row hero__row--text">

							<h2 class="t-big">
								WYBIERZ WŁASNĄ ŚCIEŻKĘ - DNI OTWARTE</h2>
							<p class="t-p--serif t-5 t-italic">Najlepszym sposobem, aby dowiedzieć się, jak wyglądałoby studiowanie w naszej szkole</p>
							<a href="#" class="btn btn--white">Aplikuj do nas
								<i class="fa fa-external-link" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="hero__item slick-slide" style="background: url('{{ theme.path }}/static/img/slider2.jpg') center / cover">


					<div class="hero__slide-wrapper container u-h-100">
						<div class="hero__row hero__row--text">

							<h2 class="t-big">
								WYBIERZ WŁASNĄ ŚCIEŻKĘ - DNI OTWARTE</h2>
							<p class="t-p--serif t-5 t-italic">Najlepszym sposobem, aby dowiedzieć się, jak wyglądałoby studiowanie w naszej szkole</p>
							<a href="#" class="btn btn--white">Aplikuj do nas
								<i class="fa fa-external-link" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="hero__item slick-slide" style="background: url('{{ theme.path }}/static/img/slider3.jpg') center / cover">


					<div class="hero__slide-wrapper container u-h-100">
						<div class="hero__row hero__row--text">

							<h2 class="t-big">
								WYBIERZ WŁASNĄ ŚCIEŻKĘ - DNI OTWARTE</h2>
							<p class="t-p--serif t-5 t-italic">Najlepszym sposobem, aby dowiedzieć się, jak wyglądałoby studiowanie w naszej szkole</p>
							<a href="#" class="btn btn--white">Aplikuj do nas
								<i class="fa fa-external-link" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>

			</div>
			<div class="container hero__link-container">
				<div class="hero__link-col" data-aos="fade-in" style="background: url({{ theme.path }}/static/img/e-learning_nwsp.jpg) center / cover">
					<a href="#" class="hero__link">
						<h3 class="t-4 t-extra">
							Platforma e-learningowa
						</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, facere.</p>
					</a>
				</div>
			</div>
		</div>
	</section>

	{# first section #}
	<section class="about-home u-gray">
		<div class="container about">
			<div class="row about__row about__row--text ">
				<div class="col-xs-12 col-md-9 about__col about__col--left">
					<h2 class="section-title about__heading t-title" data-aos="fade-down-short" data-aos-duration="1000">
						O uczelni
					</h2>
					<div class="row about__inner-row t-p--serif">
						<div class="col-lg-12 about__inner-col" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="500">
							<p class="t-p--medium">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, consectetur ea, culpa fugit rerum voluptatum qui quibusdam, unde aliquid reiciendis maxime dolore repellat impedit laudantium sequi sapiente aliquam? Cum, dicta?
								<br>
								<br>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, minus?</p>
							<a href="#" class="t-link">Czytaj więcej
								<i class="fa fa-search" aria-hidden="true"></i>
							</a>
						</div>

					</div>
				</div>
			</div>
			<div class="row about__row--more">
				<div class="col-lg-6 col-xl-3 about__more" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">
					<a href="#" class="about__more-inner">
						<img src="{{ theme.path }}/static/img/rekrutacja.jpg" class="about__more-img" alt="">
						<div class="about__more-text-wrapper">
							<div class="about__more-icon">
								<svg id="Layer_1" height="512" viewBox="0 0 128 128" width="512" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="m111.282 71.642v-9.2a1.75 1.75 0 0 0 -1.75-1.75h-2.332v-31.779l2.888-.969a1.75 1.75 0 0 0 0-3.318l-45.531-15.285a1.754 1.754 0 0 0 -1.114 0l-45.532 15.284a1.75 1.75 0 0 0 0 3.318l14.844 4.983v27.185c0 1.121 0 2.816 10.083 4.607a123.887 123.887 0 0 0 21.162 1.725 123.887 123.887 0 0 0 21.162-1.725c10.083-1.791 10.083-3.486 10.083-4.607v-27.184l8.456-2.839v30.6h-2.331a1.75 1.75 0 0 0 -1.75 1.75v8.812h-80.787c-.049 0-.095.01-.142.014-5.3.122-9.441 7.131-9.441 16.069 0 8.908 4.109 15.9 9.389 16.064a1.74 1.74 0 0 0 .195.02h32.374l-5.064 12.945a1.75 1.75 0 0 0 2.539 2.133l5.729-3.484 2.167 3.012a1.75 1.75 0 0 0 1.42.728 1.842 1.842 0 0 0 .219-.014 1.751 1.751 0 0 0 1.411-1.1l4.371-11.17 4.37 11.171a1.751 1.751 0 0 0 1.411 1.1 1.842 1.842 0 0 0 .219.014 1.75 1.75 0 0 0 1.42-.728l2.167-3.012 5.729 3.484a1.75 1.75 0 0 0 2.539-2.133l-5.064-12.945h32.375c5.374 0 9.583-7.064 9.583-16.084.001-7.779-3.118-14.116-7.467-15.692zm-47.282-58.796 40.033 13.438-40.033 13.44-40.033-13.44zm27.745 46.565c-2.4 1.211-13.192 3.532-27.745 3.532s-25.347-2.321-27.745-3.532v-25.311l27.188 9.127a1.754 1.754 0 0 0 1.114 0l27.188-9.127zm11.375 4.776h4.662v11.284l-1.182-1.033a1.748 1.748 0 0 0 -2.308 0l-1.177 1.032zm-28.409 23.146c0 7.416-3.206 12.584-6.083 12.584h-3.228c2.18-2.924 3.557-7.431 3.557-12.584s-1.379-9.659-3.557-12.583h3.229c2.871 0 6.082 5.168 6.082 12.583zm-49.853 12.584c2.183-2.923 3.562-7.431 3.562-12.584s-1.379-9.66-3.561-12.583h34.514c2.877 0 6.083 5.168 6.083 12.583s-3.206 12.584-6.083 12.584zm-5.118-10.834h5.112c-.394 5.575-2.618 9.593-4.924 10.589-2.162-5.945-.897-9.334-.188-10.589zm-6.99-1.75c0-7.414 3.2-12.58 6.08-12.58 2.647 0 5.565 4.369 6.021 10.83h-6.021a1.751 1.751 0 0 0 -1.285.563c-.172.186-3.614 4.073-1.734 11.944-1.722-2.128-3.061-5.968-3.061-10.757zm44.792 26.034-1.235-1.716a1.751 1.751 0 0 0 -2.33-.473l-2.686 1.634 3.676-9.4h6.467zm19.167-.555-2.686-1.634a1.75 1.75 0 0 0 -2.33.473l-1.235 1.716-3.893-9.95h6.467zm32.458-12.9h-34.513c2.18-2.924 3.557-7.431 3.557-12.584s-1.377-9.659-3.557-12.583h24.966v4.583a1.75 1.75 0 0 0 2.9 1.315l2.927-2.566 2.927 2.566a1.75 1.75 0 0 0 2.9-1.315v-3.7c2.14 1.774 3.968 6.1 3.968 11.7.008 7.421-3.198 12.589-6.075 12.589z"/></svg>
							</div>
							<h3 class="t-3">Rektrutacja do NWSP</h3>
							<p class="about__more-small-text">Lorem ipsum dolor sit amet.</p>
						</div>

					</a>
				</div>
				<div class="col-lg-6 col-xl-3 about__more" data-aos="fade-down-short" data-aos-duration="0100" data-aos-delay="600">
					<a href="#" class="about__more-inner">
						<img src="{{ theme.path }}/static/img/ogloszenia_nwsp.jpg" class="about__more-img" alt="">
						<div class="about__more-text-wrapper">
						<div class="about__more-icon">
							<svg viewBox="0 -14 512.00001 512" xmlns="http://www.w3.org/2000/svg"><path d="m136.964844 308.234375c4.78125-2.757813 6.417968-8.878906 3.660156-13.660156-2.761719-4.777344-8.878906-6.417969-13.660156-3.660157-4.78125 2.761719-6.421875 8.882813-3.660156 13.660157 2.757812 4.78125 8.878906 6.421875 13.660156 3.660156zm0 0"/><path d="m95.984375 377.253906 50.359375 87.230469c10.867188 18.84375 35.3125 25.820313 54.644531 14.644531 19.128907-11.054687 25.703125-35.496094 14.636719-54.640625l-30-51.96875 25.980469-15c4.78125-2.765625 6.421875-8.878906 3.660156-13.660156l-13.003906-22.523437c1.550781-.300782 11.746093-2.300782 191.539062-37.570313 22.226563-1.207031 35.542969-25.515625 24.316407-44.949219l-33.234376-57.5625 21.238282-32.167968c2.085937-3.164063 2.210937-7.230469.316406-10.511719l-20-34.640625c-1.894531-3.28125-5.492188-5.203125-9.261719-4.980469l-38.472656 2.308594-36.894531-63.90625c-5.34375-9.257813-14.917969-14.863281-25.605469-14.996094-.128906-.003906-.253906-.003906-.382813-.003906-10.328124 0-19.703124 5.140625-25.257812 13.832031l-130.632812 166.414062-84.925782 49.03125c-33.402344 19.277344-44.972656 62.128907-25.621094 95.621094 17.679688 30.625 54.953126 42.671875 86.601563 30zm102.324219 57.238282c5.523437 9.554687 2.253906 21.78125-7.328125 27.316406-9.613281 5.558594-21.855469 2.144531-27.316407-7.320313l-50-86.613281 34.640626-20c57.867187 100.242188 49.074218 85.011719 50.003906 86.617188zm-22.683594-79.296876-10-17.320312 17.320312-10 10 17.320312zm196.582031-235.910156 13.820313 23.9375-12.324219 18.664063-23.820313-41.261719zm-104.917969-72.132812c2.683594-4.390625 6.941407-4.84375 8.667969-4.796875 1.707031.019531 5.960938.550781 8.527344 4.996093l116.3125 201.464844c3.789063 6.558594-.816406 14.804688-8.414063 14.992188-1.363281.03125-1.992187.277344-5.484374.929687l-123.035157-213.105469c2.582031-3.320312 2.914063-3.640624 3.425781-4.480468zm-16.734374 21.433594 115.597656 200.222656-174.460938 34.21875-53.046875-91.878906zm-223.851563 268.667968c-4.390625-7.597656-6.710937-16.222656-6.710937-24.949218 0-17.835938 9.585937-34.445313 25.011718-43.351563l77.941406-45 50 86.601563-77.941406 45.003906c-23.878906 13.78125-54.515625 5.570312-68.300781-18.304688zm0 0"/><path d="m105.984375 314.574219c-2.761719-4.78125-8.878906-6.421875-13.660156-3.660157l-17.320313 10c-4.773437 2.757813-10.902344 1.113282-13.660156-3.660156-2.761719-4.78125-8.878906-6.421875-13.660156-3.660156s-6.421875 8.878906-3.660156 13.660156c8.230468 14.257813 26.589843 19.285156 40.980468 10.980469l17.320313-10c4.78125-2.761719 6.421875-8.875 3.660156-13.660156zm0 0"/><path d="m497.136719 43.746094-55.722657 31.007812c-4.824218 2.6875-6.5625 8.777344-3.875 13.601563 2.679688 4.820312 8.765626 6.566406 13.601563 3.875l55.71875-31.007813c4.828125-2.6875 6.5625-8.777344 3.875-13.601562-2.683594-4.828125-8.773437-6.5625-13.597656-3.875zm0 0"/><path d="m491.292969 147.316406-38.636719-10.351562c-5.335938-1.429688-10.820312 1.734375-12.25 7.070312-1.429688 5.335938 1.738281 10.816406 7.074219 12.246094l38.640625 10.351562c5.367187 1.441407 10.824218-1.773437 12.246094-7.070312 1.429687-5.335938-1.738282-10.820312-7.074219-12.246094zm0 0"/><path d="m394.199219 7.414062-10.363281 38.640626c-1.429688 5.335937 1.734374 10.816406 7.070312 12.25 5.332031 1.425781 10.816406-1.730469 12.25-7.070313l10.359375-38.640625c1.429687-5.335938-1.734375-10.820312-7.070313-12.25-5.332031-1.429688-10.816406 1.734375-12.246093 7.070312zm0 0"/></svg>
						</div>
							<h3 class="t-3">Ogłoszenia NWSP</h3>
							<p class="about__more-small-text">Lorem ipsum dolor sit amet dolor sit amet.</p>
						</div>

					</a>
				</div>
				<div class="col-lg-6 col-xl-3 about__more" data-aos="fade-down-short" data-aos-duration="0100" data-aos-delay="900">
					<a href="#" class="about__more-inner">
						<img src="{{ theme.path }}/static/img/biblioteka.jpg" class="about__more-img" alt="">
						<div class="about__more-text-wrapper">
						<div class="about__more-icon">
							<svg id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g><path d="m442 244h-110.352c6.673-6.161 12.623-14.269 17.342-24.967 9.662-21.923 7.905-72.162 3.73-92.208-4.563-21.956-20.247-38.936-41.958-45.423-15.118-4.518-31.037-3.099-44.763 3.467v-14.869c0-38.598-31.402-70-70-70-5.522 0-10 4.477-10 10s4.478 10 10 10c27.57 0 50 22.43 50 50v14.866c-13.728-6.567-29.644-7.976-44.755-3.439-21.797 6.543-37.513 23.645-42.041 45.744-4.774 23.279-5.787 68.173 6.913 95.098 4.09 8.665 9.396 15.874 16.102 21.731h-112.218c-5.522 0-10 4.477-10 10s4.478 10 10 10c11.028 0 20 8.972 20 20v64c0 11.028-8.972 20-20 20-38.997 0-70 33.675-70 72 0 38.222 30.905 72 70 72h372c5.522 0 10-4.477 10-10s-4.478-10-10-10c-11.028 0-20-8.972-20-20v-64c0-11.028 8.972-20 20-20 38.997 0 70-33.675 70-72 0-38.222-30.905-72-70-72zm-263.203-112.812c3.026-14.771 13.568-26.213 28.198-30.605 15.146-4.546 30.82-.625 41.934 10.488.002.002.004.003.005.005 3.873 3.867 10.215 3.912 14.136-.003 11.113-11.109 26.802-15.038 41.967-10.507 14.554 4.348 25.06 15.687 28.103 30.333 4.065 19.518 4.594 64.083-2.449 80.065-13.873 31.449-41.459 32.321-65.836 33.036h-16.695c-35.357-1.15-54.487-10.207-63.956-30.266-10.158-21.536-9.668-61.776-5.407-82.546zm223.203 276.812v22h-101c-5.522 0-10 4.477-10 10s4.478 10 10 10h101v22c0 7.28 1.955 14.113 5.368 20h-337.368c-27.103 0-50-23.813-50-52s22.897-52 50-52.01h337.381c-3.415 5.898-5.381 12.727-5.381 20.01zm40-40h-337.368c3.413-5.887 5.368-12.72 5.368-20v-22h302c5.522 0 10-4.477 10-10s-4.478-10-10-10h-302v-22c0-7.28-1.955-14.113-5.368-20h337.368c27.103 0 50 23.813 50 52s-22.897 52-50 52z"/><circle cx="256" cy="439.999" r="10"/><path d="m100 450h111c5.522 0 10-4.477 10-10s-4.478-10-10-10h-111c-5.522 0-10 4.477-10 10s4.478 10 10 10z"/></g></svg>
						</div>
							<h3 class="t-3">Biblioteka</h3>
							<p class="about__more-small-text">Lorem ipsum dolor sit amet dolor sit amet.</p>
						</div>

					</a>
				</div>
				<div class="col-lg-6 col-xl-3 about__more about__more--plan" data-aos="fade-down-short" data-aos-duration="0100" data-aos-delay="1200">
					<a href="#" class="about__more-inner">
						<img src="{{ theme.path }}/static/img/about.jpg" class="about__more-img" alt="">
						<div class="about__more-text-wrapper">
						<div class="about__more-icon">

					<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;" xml:space="preserve">
					<g>
						<path d="M3,43c0.552,0,1-0.447,1-1c0-1.654,1.346-3,3-3s3,1.346,3,3c0,0.553,0.448,1,1,1s1-0.447,1-1c0-2.757-2.243-5-5-5
							s-5,2.243-5,5C2,42.553,2.448,43,3,43z"/>
						<path d="M3,37c0.552,0,1-0.447,1-1c0-1.654,1.346-3,3-3s3,1.346,3,3c0,0.553,0.448,1,1,1s1-0.447,1-1c0-2.757-2.243-5-5-5
							s-5,2.243-5,5C2,36.553,2.448,37,3,37z"/>
						<path d="M3,31c0.552,0,1-0.447,1-1c0-1.654,1.346-3,3-3s3,1.346,3,3c0,0.553,0.448,1,1,1s1-0.447,1-1c0-2.757-2.243-5-5-5
							s-5,2.243-5,5C2,30.553,2.448,31,3,31z"/>
						<path d="M3,25c0.552,0,1-0.447,1-1c0-1.654,1.346-3,3-3s3,1.346,3,3c0,0.553,0.448,1,1,1s1-0.447,1-1c0-2.757-2.243-5-5-5
							s-5,2.243-5,5C2,24.553,2.448,25,3,25z"/>
						<path d="M4,18c0-1.654,1.346-3,3-3s3,1.346,3,3c0,0.553,0.448,1,1,1s1-0.447,1-1c0-2.757-2.243-5-5-5s-5,2.243-5,5
							c0,0.553,0.448,1,1,1S4,18.553,4,18z"/>
						<path d="M52.003,0.004H50h-7H19V0H6v7.101C3.721,7.566,2,9.585,2,12c0,0.553,0.448,1,1,1s1-0.447,1-1c0-1.654,1.346-3,3-3
							s3,1.346,3,3c0,0.553,0.448,1,1,1s1-0.447,1-1c0-2.415-1.721-4.434-4-4.899V2h9v54H8v-4v-3c0-0.553-0.448-1-1-1s-1,0.447-1,1v1.815
							C4.839,50.401,4,49.302,4,48c0-1.654,1.346-3,3-3s3,1.346,3,3c0,0.553,0.448,1,1,1s1-0.447,1-1c0-2.757-2.243-5-5-5s-5,2.243-5,5
							c0,2.415,1.721,4.434,4,4.899V58h11h2h24h7h2.003C54.207,58,56,56.207,56,54.004V4C56,1.797,54.207,0.004,52.003,0.004z M19,56
							V2.004h24V56H19z M45,56V2.004h3V56H45z M54,54.004C54,55.104,53.104,56,52.003,56H50V2.004h2.003C53.104,2.004,54,2.899,54,4
							V54.004z"/>
					</g>

					</svg>

						</div>
							<h3 class="t-3">Plan zajęć</h3>
							<p class="about__more-small-text">Lorem ipsum dolor sit amet dolor sit amet.</p>
						</div>

					</a>
				</div>


			</div>

		</div>
		<div class="counter-wrapper">
			<div class="container">

				<div class="text-center " data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="500">
					{{ function('do_shortcode', '[COUNTER_NUMBER id=211]') }}

				</div>
			</div>
		</div>

		{# second about row #}
		<section class="kierunki">
			<div class="container kierunki__container">
				<h2 class="section-title about__heading t-title" data-aos="fade-down-short" data-aos-duration="1000">
					Nasze Kierunki
				</h2>
				<div class="row kierunki__row" data-aos="fade-down-short" data-aos-duration="1000">
					{% include "menu-kierunki.twig" with {'items': menu_kierunki.get_items} %}
					<div class="kierunki__img" style="background: url({{ theme.path }}/static/img/study.jpg) center/cover "></div>
				</div>
			</div>
		</section>


		<section class="cta cta--big u-gray">
			<div class="container cta__container" data-aos="fade-down-short" data-aos-duration="1000">

				<a href="#" class="cta-link">
					<img src="{{ theme.path}}/static/img/future.jpg" alt="">

					<div class="row cta__row u-white">
						<h3 class="t-1 t-extra">
							Kształtujemy Twoją przyszłość
						</h3>
						<p class="t-p--medium t-p--serif">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo illum pariatur nam atque rem. Consequuntur, totam libero! Voluptatem, illum quasi?</p>
						<span class="t-link t-link--white">Kształtuj swoją przyszłość
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</span>
					</div>
				</a>
			</div>
		</section>

	</section>


	{# featured posts #}

	<section class="featured-posts u-gray">

		<div class="container featured__container" data-aos="fade-down-short" data-aos-duration="1000">
			<div class="row featured__row">
				{% for post in featured %}
					<div class="col-xs-12 col-md-6 featured_col">
						<a href="{{ post.link }}">
							<img class="img-fluid" src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}">
						</a>
						<div class="featured__heading">
							<a href="{{ post.link }}">
								<h4 class="t-title t-title--small">
									{{ post.title }}
								</h4>
							</a>
							<p class="t-p-serif">{{ post.preview.length(20).force.read_more('<span class="t-link">Czytaj więcej</span>') }}</p>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</section>

	{# last news #}
	<section class="posts">
		<div class="container posts__container">
			<div class="posts__row-title">
				<h2 class="section-title posts__heading t-title">
					Ostatnie wpisy
				</h2>
			</div>
			<div class="posts__row">
				{%set i = 1 %}
				{%set delay = 0 %}

				{% for post in posts %}
					<div class="post__col post__col--{{ i }}" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="{{ delay }}">
						<a href="{{ post.link }}"><img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}" class="img-fluid"></a>
						<a href="{{ post.link }}">
							<h3 class="post__title t-title t-title--small">{{ post.title }}</h3>
						</a>
						<p class="post__excerpt t-p--serif">{{post.preview.length(20).force.read_more('<span class="t-link">Czytaj więcej</span>')   }}</p>


						<span class="post__date">{{ post.date }}</span>
						<a class="post__cat" href="{{ post.category.link }}">{{ post.category }}</a>
					</div>
					{% set delay = delay + 300 %}
					{% set i = i + 1 %}
				{% endfor %}
			</div>

			<div class="post__btn-wrapper">
				<a href="#" class="btn btn--accent">Zobacz wszystkie wpisy</a>
			</div>
		</div>
	</section>


	<section class="cta__slider">
		<div class="cta__slider-wrapper" data-aos="fade-down-short" data-aos-duration="1000">

			<div class="slide slide--cta">
				<img src="https://images.unsplash.com/photo-1571942602643-ba8953c07e5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2020&q=80" alt="">
				<div class="container slide__inner">
					<h3 class="slide__heading t-title t-bold">Rektrutacja</h3>
					<p class="slide__excerpt t-p--serif">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, minus.</p>

					<a href="#" class="btn btn--accent-light">Więcej
						<i class="fa fa-external-link" aria-hidden="true"></i>
					</a>

				</div>
			</div>
			<div class="slide slide--cta">
				<img src="https://images.unsplash.com/photo-1571942602643-ba8953c07e5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2020&q=80" alt="">
				<div class="container slide__inner">
					<h3 class="slide__heading t-title t-bold">Projekty UE</h3>

					<p class="slide__excerpt t-p--serif">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, minus.</p>

					<a href="#" class="btn btn--accent-light">Więcej
						<i class="fa fa-external-link" aria-hidden="true"></i>
					</a>

				</div>
			</div>

		</div>
	</section>

	<section class="blog__cta">
		<div class="container" data-aos="fade-down-short" data-aos-duration="1000">
			<div class="row">
				<div class="col-xs-12 col-md-6 offset-md-3 text-center">
					<i class="fa fa-rocket" aria-hidden="true"></i>

					<h3 class="blog__cta-heading t-extra t-2">Odwiedź nasz blog!</h3>
					<p class="blog__cta-desc t-p--serif t-p--medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, consequatur!</p>
					<a href="#" class="btn btn--solid">Blog
						<i class="fa fa-external-link" aria-hidden="true"></i>
					</a>


				</div>
			</div>
		</div>
	</section>

	<section class="discover">
		<div class="container discover__container" data-aos="fade-down-short" data-aos-duration="1000">
			<div class="row discover__row">
				<div class="col-md-3 discover__col">
					<h2 class="t-title">Odkryj więcej</h2>
				</div>
				<div class="col-md-3 discover__col">
					<h3 class="t-title t-title--small">Życie studenckie na NWSP</h3>
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, amet.</p>
					<a href="#" class="t-link">Dowiedz się więcej
						<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
					</a>

				</div>
				<div class="col-md-3 discover__col">
					<h3 class="t-title t-title--small">Życie studenckie na NWSP</h3>
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, amet.</p>
					<a href="#" class="t-link">Dowiedz się więcej
						<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
					</a>

				</div>
				<div class="col-md-3 discover__col">
					<h3 class="t-title t-title--small">Życie studenckie na NWSP</h3>
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, amet.</p>
					<a href="#" class="t-link">Dowiedz się więcej
						<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
					</a>

				</div>


			</div>
		</div>
	</section>


	<section class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9572.249723240526!2d23.0770298!3d53.1449741!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2bdce8521f3ff95a!2sNiepa%C5%84stwowa%20Wy%C5%BCsza%20Szko%C5%82a%20Pedagogiczna%20w%20Bia%C5%82ymstoku!5e0!3m2!1spl!2spl!4v1579087808803!5m2!1spl!2spl" width="100%" height="550" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</section>
{% endblock %}
