{% extends "base.twig" %}

{% block content %}
	{% embed 'hero.twig' %}


		{% block heroText %}

			<h2 class="t-big">Strefa studenta</h2>
			<p class="t-p--serif t-5 t-italic">
				Najlepszym sposobem, aby dowiedzieć się, jak wyglądałoby studiowanie w naszej szkole, jest przekonanie się na własne oczy.Przyjdź i spotkaj się z nami podczas naszych następnych dni otwartych!</p>
			<a href="#" class="btn btn--white">Razem po sukces
				<i class="fa fa-graduation-cap" aria-hidden="true"></i>
			</a>

		{% endblock %}

	{% endembed %}
	{% include 'breadcrumbs.twig' %}


	<section class="student u-gray">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-6 col-md-3 student__col student__col--1">
					<a href="#" class="student__inner" style="background: url({{ theme.path}}/static/img/future.jpg) center / cover">
						<div class="student__gradient-bg"></div>
						<div class="student__icon">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewbox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px" class="">
								<g>
									<g>
										<g>
											<path d="M477.858,8.533H34.142C15.317,8.533,0,23.851,0,42.675v281.591c0,4.71,3.823,8.533,8.533,8.533h494.933    c4.71,0,8.533-3.823,8.533-8.533V42.675C512,23.851,496.683,8.533,477.858,8.533z M494.933,315.733H17.067V42.675    c0-9.421,7.663-17.075,17.075-17.075h443.716c9.412,0,17.075,7.654,17.075,17.075V315.733z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/>
										</g>
									</g>
									<g>
										<g>
											<path d="M503.467,315.733H8.533c-4.71,0-8.533,3.823-8.533,8.533v42.658c0,18.825,15.317,34.142,34.142,34.142h443.716    c18.825,0,34.142-15.317,34.142-34.142v-42.658C512,319.556,508.177,315.733,503.467,315.733z M494.933,366.925    c0,9.421-7.663,17.075-17.075,17.075H34.142c-9.412,0-17.075-7.654-17.075-17.075V332.8h477.867V366.925z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/>
										</g>
									</g>
									<g>
										<g>
											<path d="M281.6,349.867h-51.2c-4.71,0-8.533,3.823-8.533,8.533s3.823,8.533,8.533,8.533h51.2c4.71,0,8.533-3.823,8.533-8.533    S286.31,349.867,281.6,349.867z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/>
										</g>
									</g>
									<g>
										<g>
											<path d="M469.333,42.667H42.667c-4.71,0-8.533,3.823-8.533,8.533v273.067c0,4.71,3.823,8.533,8.533,8.533h426.667    c4.71,0,8.533-3.823,8.533-8.533V51.2C477.867,46.49,474.044,42.667,469.333,42.667z M460.8,315.733H51.2v-256h409.6V315.733z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/>
										</g>
									</g>
									<g>
										<g>
											<path d="M366.933,452.267H145.067c-14.114,0-25.6,11.486-25.6,25.6s11.486,25.6,25.6,25.6h221.867c14.114,0,25.6-11.486,25.6-25.6    S381.047,452.267,366.933,452.267z M366.933,486.4H145.067c-4.71,0-8.533-3.831-8.533-8.533s3.823-8.533,8.533-8.533h221.867    c4.71,0,8.533,3.831,8.533,8.533S371.644,486.4,366.933,486.4z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/>
										</g>
									</g>
									<g>
										<g>
											<path d="M349.867,452.267c-28.314,0-42.667-20.096-42.667-59.733c0-4.71-3.823-8.533-8.533-8.533h-85.333    c-4.71,0-8.533,3.823-8.533,8.533c0,39.637-14.353,59.733-42.667,59.733c-4.71,0-8.533,3.823-8.533,8.533    c0,4.71,3.823,8.533,8.533,8.533h187.733c4.71,0,8.533-3.823,8.533-8.533C358.4,456.09,354.577,452.267,349.867,452.267z     M203.699,452.267c10.505-11.639,16.691-28.971,17.937-51.2h68.736c1.237,22.229,7.424,39.561,17.937,51.2H203.699z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/>
										</g>
									</g>
									<g>
										<g>
											<path d="M407.757,259.959l-20.599-20.599l11.46-11.46c2.125-2.125,2.978-5.214,2.244-8.124c-0.734-2.91-2.944-5.214-5.82-6.084    l-85.333-25.6c-3.012-0.905-6.263-0.077-8.482,2.142c-2.227,2.219-3.046,5.478-2.142,8.482l25.6,85.333    c0.862,2.884,3.174,5.094,6.084,5.828c2.901,0.717,5.999-0.12,8.124-2.244l12.066-12.075l20.599,20.608    c1.596,1.604,3.772,2.5,6.033,2.5s4.437-0.896,6.033-2.5l24.132-24.141C411.093,268.689,411.093,263.296,407.757,259.959z     M377.591,278.067l-18.756-18.765c-2.176-2.176-5.026-3.26-7.876-3.26c-2.859,0-5.709,1.092-7.876,3.251l-6.161,6.161    l-16.939-56.465l56.465,16.939l-6.605,6.605c-1.818,1.826-2.816,4.25-2.816,6.827c0,2.586,1.007,5.026,2.833,6.835l19.797,19.797    L377.591,278.067z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/>
										</g>
									</g>
									<g>
										<g>
											<path d="M358.4,76.8H119.467c-4.71,0-8.533,3.823-8.533,8.533V128c0,4.71,3.823,8.533,8.533,8.533H358.4    c4.71,0,8.533-3.823,8.533-8.533V85.333C366.933,80.623,363.11,76.8,358.4,76.8z M349.867,119.467H128v-25.6h221.867V119.467z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/>
										</g>
									</g>
									<g>
										<g>
											<path d="M221.867,170.667H153.6c-4.71,0-8.533,3.823-8.533,8.533v34.133c0,4.71,3.823,8.533,8.533,8.533h68.267    c4.71,0,8.533-3.823,8.533-8.533V179.2C230.4,174.49,226.577,170.667,221.867,170.667z M213.333,204.8h-51.2v-17.067h51.2V204.8z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/>
										</g>
									</g>
									<g>
										<g>
											<path d="M358.4,76.8H119.467c-4.71,0-8.533,3.823-8.533,8.533v162.133c0,4.71,3.823,8.533,8.533,8.533h203.145    c2.705,0,5.239-1.271,6.844-3.439c1.613-2.167,2.108-4.966,1.331-7.552l-10.803-36.019l35.968,10.795    c2.586,0.777,5.385,0.282,7.543-1.331c2.167-1.604,3.439-4.147,3.439-6.844V85.333C366.933,80.623,363.11,76.8,358.4,76.8z     M349.867,200.141L309.7,188.092c-3.012-0.905-6.263-0.077-8.482,2.142c-2.227,2.227-3.046,5.478-2.142,8.491l12.066,40.209H128    V93.867h221.867V200.141z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/>
										</g>
									</g>
								</g>
							</svg>

						</div>

						<h3 class="t-5 t-bold">
							Wirtualny dziekanat
						</h3>
					</a>
				</div>
				<div class="col-12 col-sm-6 col-md-3 student__col student__col--2">
					<a href="#" class="student__inner" style="background: url({{ theme.path}}/static/img/projekty.jpg) center / cover">
						<div class="student__gradient-bg"></div>
						<div class="student__icon">
							<?xml version="1.0"?>
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px">
								<g>
									<g>
										<g>
											<path d="M172.55,391.902c-0.13-0.64-0.32-1.27-0.57-1.88c-0.25-0.6-0.56-1.18-0.92-1.72c-0.36-0.55-0.78-1.06-1.24-1.52    c-0.46-0.46-0.97-0.88-1.52-1.24c-0.54-0.36-1.12-0.67-1.73-0.92c-0.6-0.25-1.23-0.45-1.87-0.57c-1.29-0.26-2.62-0.26-3.9,0    c-0.64,0.12-1.27,0.32-1.88,0.57c-0.6,0.25-1.18,0.56-1.72,0.92c-0.55,0.36-1.06,0.78-1.52,1.24c-0.46,0.46-0.88,0.97-1.24,1.52    c-0.37,0.54-0.67,1.12-0.92,1.72c-0.25,0.61-0.45,1.24-0.57,1.88c-0.13,0.64-0.2,1.3-0.2,1.95c0,0.65,0.07,1.31,0.2,1.95    c0.12,0.64,0.32,1.27,0.57,1.87c0.25,0.61,0.55,1.19,0.92,1.73c0.36,0.55,0.78,1.06,1.24,1.52c0.46,0.46,0.97,0.88,1.52,1.24    c0.54,0.361,1.12,0.671,1.72,0.921c0.61,0.25,1.24,0.45,1.88,0.57c0.64,0.13,1.3,0.2,1.95,0.2c0.65,0,1.31-0.07,1.95-0.2    c0.64-0.12,1.27-0.32,1.87-0.57c0.61-0.25,1.19-0.561,1.73-0.921c0.55-0.36,1.06-0.78,1.52-1.24c0.46-0.46,0.88-0.97,1.24-1.52    c0.36-0.54,0.67-1.12,0.92-1.73c0.25-0.6,.44-1.23,0.57-1.87s0.2-1.3,0.2-1.95S172.68,392.542,172.55,391.902z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/>
										</g>
									</g>
									<g>
										<g>
											<path d="M459.993,394.982c-0.039-0.1-0.079-0.199-0.121-0.297c-9.204-21.537-30.79-29.497-56.336-20.772l-69.668,19.266    c-4.028-12.198-14.075-22.578-28.281-27.85c-0.088-0.032-0.176-0.064-0.265-0.094l-76.581-25.992    c-6.374-8.239-26.34-29.321-63.723-29.321c-26.125,0-49.236,17.922-62.458,37.457H10c-5.523,0-10,4.477-10,10v126.077    c0,5.523,4.477,10,10,10h59.457c5.523,0,10-4.477,10-10v-8.634h27.883c5.523,0,10-4.477,10-10v-2.878    c16.254,1.418,21.6,4.501,36.528,13.109c11.48,6.62,28.831,16.625,60.077,30.674c0.145,0.065,0.292,0.127,0.439,0.185    c5.997,2.359,17.72,6.065,32.173,6.065c10.06,0,21.445-1.797,33.131-7.094l153.991-55.136c0.274-0.098,0.544-0.208,0.808-0.33    C449.204,442.646,471.135,423.563,459.993,394.982z M59.457,473.455H20V367.378h39.457V473.455z M97.34,454.821H79.457v-87.443    H97.34V454.821z M426.496,431.074l-153.922,55.111c-0.135,0.048-0.318,0.12-0.451,0.174c-0.135,0.055-0.27,0.113-0.403,0.174    c-21.437,9.852-41.814,3.954-49.8,0.849c-30.182-13.581-46.291-22.87-58.061-29.657c-16.364-9.436-24.249-13.984-46.519-15.823    V361.36c9.479-15.536,27.861-31.439,47.679-31.439c33.986,0,48.387,22.105,48.953,22.997c1.221,1.986,3.098,3.483,5.305,4.232    l79.475,26.974c12.693,4.764,19.401,15.634,16.318,26.474c-1.423,5.006-4.711,9.158-9.257,11.691    c-4.507,2.511-9.717,3.132-14.683,1.758l-89.593-28.392c-5.268-1.669-10.886,1.247-12.554,6.512    c-1.669,5.265,1.247,10.885,6.512,12.554l89.749,28.441c0.095,0.03,0.19,0.059,0.286,0.086c3.583,1.019,7.231,1.523,10.857,1.523    c6.638,0,13.203-1.691,19.161-5.011c9.213-5.133,15.875-13.547,18.759-23.692c0.23-0.81,0.434-1.62,0.611-2.43l75.083-20.8    c10.844-3.704,25.079-5.039,31.417,9.558C447.978,419.533,430.928,428.96,426.496,431.074z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/>
										</g>
									</g>
									<g>
										<g>
											<path d="M359.06,131.543c-0.13-0.64-0.32-1.27-0.58-1.88c-0.25-0.6-0.55-1.18-0.92-1.72c-0.36-0.55-0.78-1.06-1.24-1.52    c-0.46-0.46-0.97-0.88-1.52-1.24c-0.54-0.36-1.12-0.67-1.72-0.92c-0.61-0.25-1.24-0.45-1.87-0.57c-1.29-0.26-2.62-0.26-3.91,0    c-0.64,0.12-1.27,0.32-1.87,0.57c-0.61,0.25-1.19,0.56-1.73,0.92c-0.55,0.36-1.06,0.78-1.52,1.24c-0.46,0.46-0.88,0.97-1.24,1.52    c-0.36,0.54-0.67,1.12-0.92,1.72c-0.25,0.61-0.45,1.24-0.57,1.88c-0.13,0.64-0.2,1.3-0.2,1.95c0,0.65,0.07,1.31,0.2,1.95    c0.12,0.64,0.32,1.27,0.57,1.87c0.25,0.61,0.56,1.19,0.92,1.73c0.36,0.55,0.78,1.06,1.24,1.52c0.46,0.46,0.97,0.88,1.52,1.24    c0.54,0.36,1.12,0.67,1.73,0.92c0.6,0.25,1.23,0.44,1.87,0.57s1.3,0.2,1.95,0.2c0.65,0,1.31-0.07,1.96-0.2    c0.63-0.13,1.26-0.32,1.87-0.57c0.6-0.25,1.18-0.56,1.72-0.92c0.55-0.36,1.06-0.78,1.52-1.24c0.46-0.46,0.88-0.97,1.24-1.52    c0.37-0.54,0.67-1.12,0.92-1.73c0.26-0.6,0.45-1.23,0.58-1.87c0.13-0.64,0.19-1.3,0.19-1.95    C359.25,132.843,359.19,132.183,359.06,131.543z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/>
										</g>
									</g>
									<g>
										<g>
											<path d="M502,33.891h-59.457c-5.523,0-10,4.477-10,10v8.634H404.66c-5.523,0-10,4.477-10,10v2.878    c-16.254-1.419-21.6-4.501-36.527-13.109c-11.48-6.62-28.831-16.625-60.078-30.674c-0.145-0.066-0.291-0.127-0.44-0.185    c-10.171-4.002-36.828-11.876-65.299,1.027l-40.24,14.408L158.157,2.952c-3.905-3.905-10.237-3.905-14.142,0L32.657,114.309    c-3.602,3.603-4.293,9.85,0,14.143l190.287,190.287c3.045,3.046,10.175,3.967,14.143,0l101.665-101.664    c2.643,0.228,5.386,0.351,8.229,0.351c26.126,0,49.236-17.922,62.457-37.456H502c5.523,0,10-4.477,10-10V43.891    C512,38.368,507.523,33.891,502,33.891z M151.085,24.165l22.792,22.792c-6.775,4.19-14.608,6.432-22.792,6.432    c-8.185,0-16.017-2.241-22.792-6.432L151.085,24.165z M76.663,144.173L53.871,121.38l22.792-22.792    c4.19,6.775,6.432,14.608,6.432,22.792C83.095,129.564,80.854,137.397,76.663,144.173z M230.016,297.525l-22.788-22.788    c13.913-8.586,31.661-8.586,45.575,0L230.016,297.525z M267.211,260.331c-22.098-16.03-52.292-16.03-74.39,0L91.07,158.579    c7.809-10.74,12.025-23.641,12.025-37.199c0-13.559-4.215-26.459-12.025-37.199l22.817-22.816    c10.74,7.809,23.64,12.025,37.199,12.025c13.559,0,26.459-4.216,37.199-12.025l21.629,21.629    c-4.667,0.689-9.218,2.227-13.462,4.592c-7.168,3.994-12.792,9.975-16.294,17.211c-11.28,2.089-21.723,7.55-29.915,15.741    c-22.225,22.226-22.225,58.389,0.001,80.615c11.112,11.112,25.709,16.669,40.307,16.669c14.597,0,29.195-5.556,40.308-16.669    c7.23-7.23,12.295-16.116,14.832-25.8l33.764,11.459c-3.801,17.608,0.092,36.132,10.593,50.682L267.211,260.331z M206.413,162.018    c0.088,0.032,0.176,0.064,0.265,0.094l19.996,6.787c-1.51,6.815-4.927,13.081-9.957,18.112c-14.428,14.426-37.904,14.428-52.33,0    c-14.428-14.427-14.428-37.902,0-52.33c3.48-3.482,7.587-6.203,12.062-8.048C178.295,141.995,189.356,155.688,206.413,162.018z     M304.457,223.084c-3.86-6.29-6.044-13.469-6.389-20.796c4.79,3.463,10.644,6.856,17.636,9.549L304.457,223.084z M394.659,165.983    c-9.478,15.538-27.86,31.441-47.678,31.441c-3.708,0-7.183-0.264-10.432-0.734c-0.013-0.002-0.026-0.004-0.039-0.006    c-21.596-3.137-33.213-15.411-37.042-20.271c-0.204-0.3-1.073-1.437-1.202-1.626c-1.165-2.082-3.075-3.756-5.511-4.583    l-79.508-26.985c-12.688-4.762-19.395-15.627-16.321-26.463c0.002-0.007,0.004-0.014,0.006-0.021    c0.003-0.008,0.005-0.017,0.007-0.025c1.429-4.99,4.711-9.129,9.247-11.656c4.506-2.511,9.715-3.134,14.683-1.757l89.593,28.391    c5.266,1.671,10.886-1.247,12.554-6.512c1.668-5.265-1.247-10.885-6.512-12.554l-71.255-22.58l-0.622-0.622    c-0.006-0.006-0.012-0.013-0.019-0.019l-36.89-36.89l31.708-11.354c0.107-0.039,0.239-0.088,0.345-0.131    c0.027-0.011,0.079-0.031,0.105-0.042c0.136-0.055,0.27-0.113,0.403-0.174c21.436-9.852,41.812-3.955,49.799-0.849    c30.183,13.581,46.293,22.87,58.063,29.657c16.364,9.437,24.249,13.984,46.518,15.823V165.983z M432.543,159.968H414.66V72.525    h17.883V159.968z M492,159.968h-39.457V53.891H492V159.968z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/>
										</g>
									</g>
								</g>
							</svg>


						</div>

						<h3 class="t-5 t-bold">
							Płatności
						</h3>
					</a>
				</div>

				<div class="col-12 col-sm-6 col-md-3 student__col student__col--3">
					<a href="#" class="student__inner" style="background: url({{ theme.path}}/static/img/zadbamy.jpg) center / cover">
						<div class="student__gradient-bg"></div>
						<div class="student__icon">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
								<g>
									<g>
										<path d="M451.72,237.26c-17.422-8.71-50.087-8.811-51.469-8.811c-4.142,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c8.429,0.001,32.902,1.299,44.761,7.228c1.077,0.539,2.221,0.793,3.348,0.793c2.751,0,5.4-1.52,6.714-4.147
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	C456.927,243.618,455.425,239.113,451.72,237.26z"/>
									</g>
								</g>
								<g>
									<g>
										<path d="M489.112,344.041l-30.975-8.85c-1.337-0.382-2.271-1.62-2.271-3.011v-10.339c2.52-1.746,4.924-3.7,7.171-5.881
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c10.89-10.568,16.887-24.743,16.887-39.915v-14.267l2.995-5.989c3.287-6.575,5.024-13.936,5.024-21.286v-38.65
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c0-4.142-3.358-7.5-7.5-7.5H408.27c-26.244,0-47.596,21.352-47.596,47.596v0.447c0,6.112,1.445,12.233,4.178,17.699l3.841,7.682
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	v12.25c0,19.414,9.567,36.833,24.058,47.315l0.002,10.836c0,1.671,0,2.363-6.193,4.133l-15.114,4.318l-43.721-15.898
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c0.157-2.063-0.539-4.161-2.044-5.742l-13.971-14.678v-24.64c1.477-1.217,2.933-2.467,4.344-3.789
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c17.625-16.52,27.733-39.844,27.733-63.991v-19.678c5.322-11.581,8.019-23.836,8.019-36.457v-80.19c0-4.142-3.358-7.5-7.5-7.5
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	H232.037c-39.51,0-71.653,32.144-71.653,71.653v16.039c0,12.621,2.697,24.876,8.019,36.457v16.931
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c0,28.036,12.466,53.294,32.077,69.946v25.22l-13.971,14.678c-1.505,1.581-2.201,3.679-2.044,5.742l-46.145,16.779
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c-3.344,1.216-6.451,2.863-9.272,4.858l-7.246-3.623c21.57-9.389,28.403-22.594,28.731-23.25c1.056-2.111,1.056-4.597,0-6.708
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c-5.407-10.814-6.062-30.635-6.588-46.561c-0.175-5.302-0.341-10.311-0.658-14.771c-2.557-35.974-29.905-63.103-63.615-63.103
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	s-61.059,27.128-63.615,63.103c-0.317,4.461-0.483,9.47-0.658,14.773c-0.526,15.925-1.182,35.744-6.588,46.558
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c-1.056,2.111-1.056,4.597,0,6.708c0.328,0.656,7.147,13.834,28.76,23.234l-20.127,10.063C6.684,358.176,0,368.991,0,381.02
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	v55.409c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5V381.02c0-6.312,3.507-11.987,9.152-14.81l25.063-12.531l8.718,8.285
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c6.096,5.793,13.916,8.688,21.739,8.688c7.821,0,15.645-2.897,21.739-8.688l8.717-8.284l8.172,4.086
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c-3.848,6.157-6.032,13.377-6.032,20.94v57.725c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-57.725
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c0-10.296,6.501-19.578,16.178-23.097l48.652-17.691l20.253,30.381c2.589,3.884,6.738,6.375,11.383,6.835
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c0.518,0.051,1.033,0.076,1.547,0.076c4.098,0,8.023-1.613,10.957-4.546l12.356-12.356v78.124c0,4.142,3.358,7.5,7.5,7.5
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c4.142,0,7.5-3.358,7.5-7.5v-78.124l12.356,12.356c2.933,2.934,6.858,4.547,10.957,4.547c0.513,0,1.029-0.025,1.546-0.076
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c4.646-0.46,8.795-2.951,11.384-6.835l20.254-30.38l48.651,17.691c9.676,3.519,16.178,12.801,16.178,23.097v57.725
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-57.725c0-10.428-4.143-20.208-11.093-27.441l1.853-0.529
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c1.869-0.534,4.419-1.265,6.979-2.52l19.149,19.149v69.066c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-69.066
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	l19.016-19.016c1.011,0.514,2.073,0.948,3.191,1.267l30.976,8.85c7.07,2.02,12.009,8.567,12.009,15.921v62.044
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-62.044C512,360.371,502.588,347.892,489.112,344.041z M48.115,330.794
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c-14.029-5.048-21.066-11.778-24.07-15.453c2.048-5.354,3.376-11.486,4.275-17.959c4.136,9.917,11.063,18.383,19.795,24.423
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	V330.794z M91.08,351.092c-6.397,6.078-16.418,6.077-22.813-0.001l-6.975-6.628c1.177-2.205,1.824-4.705,1.824-7.324v-7.994
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c5.232,1.635,10.794,2.517,16.558,2.517c5.757,0,11.316-0.886,16.557-2.512l-0.001,7.988c0,2.62,0.646,5.121,1.824,7.327
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	L91.08,351.092z M79.676,316.662c-22.396,0-40.615-18.22-40.615-40.615c0-4.142-3.358-7.5-7.5-7.5c-0.42,0-0.83,0.043-1.231,0.11
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c0.022-0.645,0.043-1.291,0.065-1.93c0.167-5.157,0.328-10.028,0.625-14.206c0.958-13.476,6.343-25.894,15.163-34.968
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c8.899-9.156,20.793-14.198,33.491-14.198s24.591,5.042,33.491,14.198c8.82,9.074,14.205,21.492,15.163,34.968
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c0.296,4.177,0.458,9.047,0.628,14.203c0.015,0.443,0.03,0.892,0.045,1.338c-8.16-12.572-20.762-21.837-37.045-27.069
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c-15.043-4.833-27.981-4.534-28.527-4.52c-1.964,0.055-3.828,0.877-5.191,2.291l-13.532,14.034
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c-2.875,2.982-2.789,7.73,0.193,10.605s7.73,2.788,10.605-0.193l11.26-11.677c9.697,0.474,40.894,4.102,53.027,30.819
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	C116.738,302.04,99.816,316.662,79.676,316.662z M111.229,330.819l0.001-8.945c8.725-6.007,15.662-14.457,19.801-24.449
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c0.899,6.458,2.226,12.576,4.27,17.918C132.314,318.983,125.244,325.773,111.229,330.819z M183.403,209.145v-18.608
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c0-1.129-0.255-2.244-0.746-3.261c-4.826-9.994-7.273-20.598-7.273-31.518V139.72c0-31.239,25.415-56.653,56.653-56.653h104.769
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	v72.692c0,10.92-2.447,21.524-7.273,31.518c-0.491,1.017-0.746,2.132-0.746,3.261v21.355c0,20.311-8.165,39.15-22.991,53.047
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c-1.851,1.734-3.772,3.36-5.758,4.875c-0.044,0.03-0.086,0.063-0.129,0.094c-13.889,10.545-30.901,15.67-48.667,14.519
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	C213.201,281.965,183.403,248.897,183.403,209.145z M225.632,360.056c-0.052,0.052-0.173,0.175-0.418,0.149
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c-0.244-0.024-0.34-0.167-0.381-0.229l-23.325-34.988l7.506-7.887l35.385,24.187L225.632,360.056z M256.095,331.113
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	l-40.615-27.762v-14c10.509,5.681,22.276,9.234,34.791,10.044c1.977,0.128,3.942,0.191,5.901,0.191
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c14.341,0,28.143-3.428,40.538-9.935v13.7L256.095,331.113z M287.357,359.978c-0.041,0.062-0.137,0.205-0.381,0.229
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c-0.245,0.031-0.365-0.098-0.418-0.149l-18.767-18.767l35.385-24.188l7.507,7.887L287.357,359.978z M424.308,353.65l-17.02-17.019
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c0.297-1.349,0.465-2.826,0.464-4.455l-0.001-3.165c4.723,1.55,9.701,2.47,14.852,2.624c0.578,0.018,1.151,0.026,1.727,0.026
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c5.692,0,11.248-0.86,16.536-2.501v3.02c0,1.496,0.188,2.962,0.542,4.371L424.308,353.65z M452.591,305.196
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c-7.949,7.714-18.45,11.788-29.537,11.446c-21.704-0.651-39.361-19.768-39.361-42.613v-14.021c0-1.165-0.271-2.313-0.792-3.354
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	l-4.633-9.266c-1.697-3.395-2.594-7.195-2.594-10.991v-0.447c0-17.974,14.623-32.596,32.596-32.596h64.673v31.15
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c0,5.034-1.19,10.075-3.441,14.578l-3.786,7.572c-0.521,1.042-0.792,2.189-0.792,3.354v16.038
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	C464.924,287.126,460.544,297.478,452.591,305.196z"/>
									</g>
								</g>
								<g>
									<g>
										<path d="M472.423,380.814c-4.142,0-7.5,3.358-7.5,7.5v48.115c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-48.115
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	C479.923,384.173,476.565,380.814,472.423,380.814z"/>
									</g>
								</g>
								<g>
									<g>
										<path d="M39.577,390.728c-4.142,0-7.5,3.358-7.5,7.5v38.201c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-38.201
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	C47.077,394.087,43.719,390.728,39.577,390.728z"/>
									</g>
								</g>
								<g>
									<g>
										<path d="M317.532,158.475c-28.366-28.366-87.715-22.943-111.917-19.295c-7.623,1.149-13.155,7.6-13.155,15.339v17.278
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-17.279c0-0.255,0.168-0.473,0.392-0.507
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	c9.667-1.457,28.85-3.705,48.725-2.38c23.388,1.557,40.328,7.428,50.349,17.45c2.929,2.929,7.678,2.929,10.606,0
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	C320.461,166.152,320.461,161.403,317.532,158.475z"/>
									</g>
								</g>
								<g>
									<g>
										<path d="M167.884,396.853c-4.142,0-7.5,3.358-7.5,7.5v32.077c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-32.077
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	C175.384,400.212,172.026,396.853,167.884,396.853z"/>
									</g>
								</g>
								<g>
									<g>
										<path d="M344.306,396.853c-4.142,0-7.5,3.358-7.5,7.5v32.077c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-32.077
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																	C351.806,400.212,348.448,396.853,344.306,396.853z"/>
									</g>
								</g>

							</svg>


						</div>

						<h3 class="t-5 t-bold">
							Samorząd szkolny
						</h3>
					</a>
				</div>
				<div class="col-12 col-sm-6 col-md-3 student__col student__col--4">
					<a href="#" class="student__inner" style="background: url({{ theme.path}}/static/img/e-learning_nwsp.jpg) center / cover">
						<div class="student__gradient-bg"></div>
						<div class="student__icon">
							<?xml version="1.0"?>
							<svg xmlns="http://www.w3.org/2000/svg" height="512px" viewBox="-8 0 480 480" width="512px" class="">
								<g><path d="m432 456c0 4.417969-3.582031 8-8 8h-80v-27.359375c-.078125-25.226563-16.941406-47.316406-41.257812-54.039063l-46.742188-12.714843v-12.109375c14.984375-10.433594 23.941406-27.519532 24-45.777344v-15.144531c2.039062-.933594 3.328125-1.597657 3.574219-1.695313 2.714843-1.355468 4.425781-4.128906 4.425781-7.160156v-48l42.871094-16.488281c3.097656-1.183594 5.144531-4.15625 5.144531-7.472657 0-3.316406-2.046875-6.285156-5.144531-7.472656l-104-40c-1.847656-.703125-3.894532-.703125-5.742188 0l-104 40c-3.078125 1.183594-5.113281 4.136719-5.128906 7.433594v36.6875l-21.65625 21.65625 11.3125 11.3125 10.34375-10.34375v12.6875h16v-12.6875l10.34375 10.34375 11.3125-11.3125-21.65625-21.65625v-25.039062l32 12.351562v48c-.015625 3.046875 1.699219 5.839844 4.425781 7.199219.246094.121093 1.535157.761719 3.574219 1.695312v15.105469c-.140625 18.3125 8.859375 35.492188 24 45.800781v12.085938l-46.769531 12.722656c-24.300781 6.726563-41.15625 28.8125-41.230469 54.03125v27.359375h-80c-4.417969 0-8-3.582031-8-8v-312h224v-16h-224v-40c0-4.417969 3.582031-8 8-8h216v-16h-216c-13.253906 0-24 10.746094-24 24v368c0 13.253906 10.746094 24 24 24h400c13.253906 0 24-10.746094 24-24v-296h-16zm-224-80v-10.398438c10.425781 3.207032 21.574219 3.207032 32 0v10.398438c.027344 2.292969 1.042969 4.460938 2.792969 5.945312l-18.792969 15.65625-18.792969-15.648437c1.75-1.484375 2.769531-3.65625 2.792969-5.953125zm16-191.433594 81.710938 31.433594-81.710938 31.433594-81.710938-31.433594zm-2.871094 78.90625c1.847656.703125 3.894532.703125 5.742188 0l45.128906-17.359375v36.796875c-15.070312 7.25-31.335938 11.6875-48 13.089844-16.664062-1.414062-32.929688-5.851562-48-13.097656v-36.796875zm-37.128906 48.527344v-8.585938c12.769531 5.042969 26.285156 7.945313 40 8.585938 13.714844-.640625 27.230469-3.542969 40-8.585938v8.585938c-.019531 14.292969-7.664062 27.492188-20.054688 34.621094-12.390624 7.128906-27.644531 7.101562-40.007812-.070313-3.019531-1.714843-5.785156-3.839843-8.226562-6.3125-7.539063-7.453125-11.761719-17.632812-11.710938-28.238281zm-64 124.640625c.058594-18.015625 12.101562-33.792969 29.464844-38.601563l37.734375-10.261718 31.679687 26.398437c2.96875 2.472657 7.273438 2.472657 10.242188 0l31.679687-26.398437 37.710938 10.253906c17.371093 4.804688 29.421875 20.585938 29.488281 38.609375v27.359375h-24v-32h-16v32h-128v-32h-16v32h-24zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/><path d="m48 96h16v16h-16zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/><path d="m80 96h16v16h-16zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/><path d="m112 96h16v16h-16zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/><path d="m440 0h-160c-13.253906 0-24 10.746094-24 24v96c0 13.253906 10.746094 24 24 24h24v32c0 3.398438 2.144531 6.425781 5.351562 7.550781.851563.292969 1.746094.445313 2.648438.449219 2.429688 0 4.730469-1.101562 6.246094-3l29.59375-37h92.160156c13.253906 0 24-10.746094 24-24v-96c0-13.253906-10.746094-24-24-24zm8 120c0 4.417969-3.582031 8-8 8h-96c-2.429688 0-4.730469 1.101562-6.246094 3l-17.753906 22.191406v-17.191406c0-4.417969-3.582031-8-8-8h-32c-4.417969 0-8-3.582031-8-8v-96c0-4.417969 3.582031-8 8-8h160c4.417969 0 8 3.582031 8 8zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/><path d="m304 32h112v16h-112zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/><path d="m304 64h112v16h-112zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/><path d="m304 96h112v16h-112zm0 0" data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/></g>
							</svg>


						</div>
						<h3 class="t-5 t-bold">
							Platforma e-learningowa
						</h3>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-6 col-md-6 student__col student__col--5">
					<a href="#" class="student__inner" style="background: url({{ theme.path}}/static/img/future.jpg) center / cover">
						<div class="student__gradient-bg"></div>
						<div class="student__icon">
							<svg id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg">
								<g><path d="m492.804 198.276c0-32.598-12.693-63.244-35.741-86.292l-76.242-76.242c-23.049-23.049-53.694-35.742-86.291-35.742h-.001-137.534c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h120.666c31.326 0 56.812 25.486 56.812 56.812v39.143c0 26.124 21.253 47.377 47.377 47.377h39.143c31.262 0 56.703 25.382 56.808 56.62v249.668c0 17.854-14.521 32.38-32.37 32.38h-327.6c-14.774 0-27.525-9.841-31.287-24.034l-.321-46.263h243.247c33.018 0 59.88-26.862 59.88-59.88v-16.214c0-4.142-3.357-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v16.214c0 24.747-20.133 44.88-44.88 44.88h-268.855c-14.567 0-26.419-11.852-26.419-26.419v-162.331c7.175 5.958 16.385 9.546 26.419 9.546h268.854c24.747 0 44.88 20.133 44.88 44.88v43.229c0 4.142 3.357 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-43.229c0-33.018-26.862-59.88-59.88-59.88h-244.01v-170.119c0-17.854 14.521-32.38 32.37-32.38h9.171c4.143 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.5-7.5h-9.17c-26.12 0-47.37 21.255-47.37 47.38v102.281h-9.845c-22.839 0-41.419 18.581-41.419 41.419v194.204c0 22.839 18.58 41.419 41.419 41.419h10.606l.328 47.269c.004.57.073 1.137.205 1.691 5.112 21.395 24.059 36.337 46.076 36.337h327.6c26.12 0 47.37-21.255 47.37-47.38zm-432.189-33.615h9.845v52.838h-9.845c-14.567 0-26.419-11.852-26.419-26.419s11.851-26.419 26.419-26.419zm360.377-21.329h-39.143c-17.853 0-32.377-14.524-32.377-32.377v-39.143c0-20.268-8.438-38.599-21.987-51.669 15.941 5.136 30.545 14.021 42.729 26.205l76.242 76.242c12.185 12.184 21.069 26.788 26.205 42.729-13.07-13.549-31.402-21.987-51.669-21.987z"/><path d="m321.254 281.773c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-38.667c-4.143 0-7.5 3.358-7.5 7.5v95.405c0 4.142 3.357 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-41.106h28.096c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-28.096v-31.799z"/><path d="m184.246 266.773c-1.991 0-3.901.792-5.309 2.202-1.406 1.41-2.195 3.321-2.191 5.313v.082.003 93.756c0 .584.073 1.15.2 1.695.038 1.946.827 3.804 2.209 5.177 1.405 1.395 3.305 2.177 5.284 2.177h.028c.815-.003 20.053-.077 27.721-.211 13.31-.232 25.16-6.262 33.371-16.977 7.566-9.876 11.734-23.376 11.734-38.014 0-33.018-18.497-55.202-46.027-55.202h-27.02zm58.047 55.203c0 23.235-12.487 39.681-30.367 39.993-4.561.08-13.549.139-20.013.174-.037-10.943-.099-30.975-.099-40.272 0-7.781-.035-28.76-.056-40.097h19.507c15.001-.001 31.028 10.561 31.028 40.202z"/><path d="m102.582 266.07c-1.993 0-3.904.793-5.312 2.205-1.398 1.402-2.182 3.3-2.187 5.279 0 .006-.002.011-.002.016v96.108c0 4.142 3.357 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-34.288c6.224-.034 14.857-.077 19.261-.077 19.383 0 35.152-15.531 35.152-34.622s-15.77-34.622-35.152-34.622h-26.76zm46.913 34.622c0 10.636-9.229 19.622-20.152 19.622-4.38 0-12.893.042-19.117.076-.034-6.391-.077-15.229-.077-19.698 0-3.77-.024-12.975-.044-19.622h19.238c10.923 0 20.152 8.985 20.152 19.622z"/></g>
							</svg>

						</div>

						<h3 class="t-5 t-bold">
							Regulaminy i dokumenty do pobrania
						</h3>
					</a>
				</div>
				<div class="col-12 col-sm-6 col-md-6 student__col student__col--6">
					<a href="#" class="student__inner" style="background: url({{ theme.path}}/static/img/zadbamy.jpg) center / cover">
						<div class="student__gradient-bg"></div>
						<div class="student__icon">
							<svg xmlns="http://www.w3.org/2000/svg" height="512px" version="1.1" viewBox="0 0 934.99834 934" width="512px">
								<g>
									<g id="surface1">
										<path d="M 599.957031 686.15625 C 561.234375 686.15625 529.835938 717.550781 529.835938 756.28125 C 529.835938 795.011719 561.234375 826.402344 599.957031 826.402344 C 638.691406 826.402344 670.082031 795.011719 670.082031 756.28125 C 670.046875 717.574219 638.671875 686.199219 599.957031 686.15625 Z M 599.957031 795.234375 C 578.449219 795.234375 561 777.800781 561 756.28125 C 561 734.769531 578.449219 717.320312 599.957031 717.320312 C 621.476562 717.320312 638.914062 734.769531 638.914062 756.28125 C 638.914062 777.800781 621.476562 795.234375 599.957031 795.234375 Z M 599.957031 795.234375 " data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/>
										<path d="M 755.789062 795.234375 C 717.070312 795.234375 685.664062 826.636719 685.664062 865.367188 C 685.664062 904.089844 717.070312 935.492188 755.789062 935.492188 C 794.519531 935.492188 825.921875 904.089844 825.921875 865.367188 C 825.875 826.65625 794.507812 795.285156 755.789062 795.234375 Z M 755.789062 904.320312 C 734.277344 904.320312 716.832031 886.882812 716.832031 865.367188 C 716.832031 843.847656 734.277344 826.402344 755.789062 826.402344 C 777.3125 826.402344 794.75 843.847656 794.75 865.367188 C 794.75 886.882812 777.3125 904.320312 755.789062 904.320312 Z M 755.789062 904.320312 " data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/>
										<path d="M 13.039062 311.945312 C 38.421875 316.175781 58.320312 336.085938 62.554688 361.480469 C 63.828125 368.96875 70.316406 374.460938 77.921875 374.460938 C 85.523438 374.460938 92.015625 368.96875 93.289062 361.480469 C 97.519531 336.085938 117.417969 316.175781 142.804688 311.945312 C 150.308594 310.671875 155.796875 304.179688 155.796875 296.574219 C 155.796875 288.964844 150.308594 282.484375 142.804688 281.210938 C 117.417969 276.964844 97.519531 257.0625 93.289062 231.671875 C 92.015625 224.171875 85.523438 218.683594 77.921875 218.683594 C 70.316406 218.683594 63.828125 224.171875 62.554688 231.671875 C 58.320312 257.0625 38.421875 276.964844 13.039062 281.210938 C 5.535156 282.484375 0.0507812 288.964844 0.0507812 296.574219 C 0.0507812 304.179688 5.535156 310.671875 13.039062 311.945312 Z M 77.921875 274.324219 C 83.992188 282.972656 91.53125 290.496094 100.179688 296.574219 C 91.53125 302.652344 83.992188 310.179688 77.921875 318.828125 C 71.847656 310.179688 64.316406 302.652344 55.667969 296.574219 C 64.316406 290.496094 71.847656 282.972656 77.921875 274.324219 Z M 77.921875 274.324219 " data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/>
										<path d="M 926.160156 189.046875 L 536.582031 2.046875 C 532.3125 -0.015625 527.332031 -0.015625 523.058594 2.046875 L 133.480469 189.96875 C 128.234375 192.496094 124.839844 197.730469 124.675781 203.539062 C 124.503906 209.359375 127.582031 214.78125 132.664062 217.617188 L 522.246094 434.875 C 526.972656 437.519531 532.714844 437.519531 537.441406 434.875 L 732.414062 325.652344 L 732.414062 530.777344 C 673.820312 534.234375 618.039062 557.09375 573.871094 595.777344 L 529.835938 634.277344 L 522.292969 627.6875 L 501.773438 651.058594 L 519.585938 666.644531 C 525.453125 671.785156 534.21875 671.785156 540.089844 666.644531 L 594.398438 619.148438 C 636.921875 581.949219 691.507812 561.464844 748 561.484375 C 756.609375 561.484375 763.585938 554.515625 763.585938 545.902344 L 763.585938 308.199219 L 841.5 264.566406 L 841.5 390.070312 C 834.191406 390.066406 827.863281 395.140625 826.285156 402.273438 L 795.117188 542.53125 C 794.085938 547.140625 795.214844 551.980469 798.175781 555.65625 C 801.136719 559.347656 805.609375 561.496094 810.335938 561.484375 L 903.832031 561.484375 C 908.5625 561.496094 913.039062 559.347656 916 555.65625 C 918.957031 551.980469 920.082031 547.140625 919.054688 542.53125 L 887.894531 402.273438 C 886.308594 395.140625 879.976562 390.066406 872.664062 390.070312 L 872.664062 247.113281 L 927.023438 216.675781 C 932.097656 213.839844 935.175781 208.40625 934.992188 202.59375 C 934.808594 196.78125 931.40625 191.550781 926.160156 189.035156 Z M 884.40625 530.324219 L 829.769531 530.324219 L 853.96875 421.234375 L 860.203125 421.234375 Z M 859.253906 218.90625 C 859.070312 218.90625 858.90625 218.773438 858.703125 218.730469 L 574.125 188.777344 C 567.097656 167.226562 545.570312 153.867188 523.128906 157.121094 C 500.699219 160.375 483.859375 179.316406 483.25 201.976562 C 482.644531 224.640625 498.429688 244.460938 520.664062 248.917969 C 542.886719 253.371094 565.097656 241.1875 573.277344 220.035156 L 812.300781 245.152344 L 529.835938 403.378906 L 174.058594 204.992188 L 529.835938 33.367188 L 885.597656 204.132812 Z M 545.414062 203.070312 C 545.414062 211.675781 538.445312 218.65625 529.835938 218.65625 C 521.230469 218.65625 514.25 211.675781 514.25 203.070312 C 514.25 194.464844 521.230469 187.492188 529.835938 187.492188 C 538.445312 187.492188 545.414062 194.464844 545.414062 203.070312 Z M 545.414062 203.070312 " data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/>
										<path d="M 771.371094 623.820312 C 732.652344 623.820312 701.25 655.214844 701.25 693.945312 C 701.25 732.675781 732.652344 764.074219 771.371094 764.074219 C 810.101562 764.074219 841.5 732.675781 841.5 693.945312 C 841.460938 655.238281 810.089844 623.871094 771.371094 623.820312 Z M 771.371094 732.90625 C 749.863281 732.90625 732.414062 715.46875 732.414062 693.945312 C 732.414062 672.433594 749.863281 654.984375 771.371094 654.984375 C 792.890625 654.984375 810.335938 672.433594 810.335938 693.945312 C 810.335938 715.46875 792.890625 732.90625 771.371094 732.90625 Z M 771.371094 732.90625 " data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/>
										<path d="M 483.082031 819.953125 L 483.082031 686.15625 C 482.953125 596.832031 428.433594 516.59375 345.433594 483.570312 L 387.824219 402.085938 C 391.515625 394.949219 389.171875 386.171875 382.414062 381.832031 L 366.835938 371.835938 C 342.835938 356.613281 312.683594 354.804688 287.035156 367.039062 C 273.050781 373.679688 256.824219 373.679688 242.832031 367.039062 C 217.191406 354.777344 187.03125 356.589844 163.039062 371.835938 L 147.453125 381.832031 C 140.699219 386.171875 138.351562 394.949219 142.046875 402.085938 L 184.394531 483.570312 C 101.40625 516.59375 46.886719 596.832031 46.75 686.15625 L 46.75 819.953125 L 14.242188 852.453125 C 0.332031 866.375 -3.824219 887.296875 3.707031 905.460938 C 11.230469 923.636719 28.96875 935.492188 48.636719 935.492188 L 481.203125 935.492188 C 500.871094 935.492188 518.609375 923.636719 526.136719 905.460938 C 533.667969 887.296875 529.503906 866.375 515.597656 852.453125 Z M 176.230469 400.34375 L 179.847656 398.023438 C 194.738281 388.601562 213.417969 387.480469 229.316406 395.074219 C 251.835938 405.800781 277.996094 405.800781 300.527344 395.074219 C 316.425781 387.480469 335.097656 388.601562 349.992188 398.023438 L 353.605469 400.34375 L 315.261719 474.082031 C 282.1875 465.957031 247.652344 465.957031 214.585938 474.082031 Z M 481.203125 904.320312 L 48.636719 904.320312 C 41.570312 904.324219 35.199219 900.066406 32.488281 893.535156 C 29.785156 887.007812 31.28125 879.492188 36.28125 874.492188 L 73.347656 837.421875 C 76.28125 834.503906 77.921875 830.539062 77.921875 826.402344 L 77.921875 686.15625 C 77.921875 582.878906 161.644531 499.15625 264.914062 499.15625 C 368.191406 499.15625 451.914062 582.878906 451.914062 686.15625 L 451.914062 826.402344 C 451.921875 830.539062 453.558594 834.503906 456.492188 837.421875 L 493.5625 874.492188 C 498.5625 879.492188 500.058594 887.007812 497.351562 893.535156 C 494.640625 900.066406 488.269531 904.324219 481.203125 904.320312 Z M 481.203125 904.320312 " data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/>
										<path d="M 280.5 686.15625 L 249.335938 686.15625 C 240.726562 686.15625 233.75 679.175781 233.75 670.570312 C 233.75 661.964844 240.726562 654.984375 249.335938 654.984375 L 311.671875 654.984375 L 311.671875 623.820312 L 280.5 623.820312 L 280.5 592.652344 L 249.335938 592.652344 L 249.335938 623.820312 C 223.515625 623.820312 202.582031 644.75 202.582031 670.570312 C 202.582031 696.382812 223.515625 717.320312 249.335938 717.320312 L 280.5 717.320312 C 289.109375 717.320312 296.085938 724.296875 296.085938 732.90625 C 296.085938 741.511719 289.109375 748.492188 280.5 748.492188 L 218.164062 748.492188 L 218.164062 779.652344 L 249.335938 779.652344 L 249.335938 810.820312 L 280.5 810.820312 L 280.5 779.652344 C 306.328125 779.652344 327.25 758.71875 327.25 732.90625 C 327.25 707.085938 306.328125 686.15625 280.5 686.15625 Z M 280.5 686.15625 " data-original="#000000" class="active-path" data-old_color="#000000" fill="#00338D"/>
									</g>
								</g>
							</svg>


						</div>

						<h3 class="t-5 t-bold">
							Stypendia
						</h3>
					</a>
				</div>
			</div>
		</div>
	</section>


	<section class="student-description">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 student__desc">
					<h2 class="t-2 t-bold">Lorem ipsum
						<span class="u-accent">dolor sit</span>
						amett</h2>
					<p class="t-p--serif">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum consequatur, iusto laboriosam eum natus iure praesentium, expedita nihil amet velit mollitia exercitationem earum optio! Laboriosam in accusantium dolorem hic quae iusto odio reprehenderit amet ullam! Officiis, nulla? Itaque maiores quae quos! Architecto, sunt? Dolor quae eos, nihil quasi sapiente impedit?</p>
					<ul class="list student__list">
						<li>
							Lorem ipsum dolor sit amet.
						</li>
						<li>
							Lorem ipsum dolor sit amet.
						</li>
						<li>
							Lorem ipsum dolor sit amet.
						</li>
						<li>
							Lorem ipsum dolor sit amet.
						</li>
						<li>
							Lorem ipsum dolor sit amet.
						</li>
						<li>
							Lorem ipsum dolor sit amet.
						</li>
					</ul>
				</div>
				<div class="col-12 col-md-6 student__desc student__desc--imgs">
					<img src="{{ theme.path }}/static/img/slider1.jpg" alt="" class="student__desc-img--1 img-fluid">
						<img src="{{ theme.path }}/static/img/slider2.jpg" alt="" class="student__desc-img--2 img-fluid"></div>
					</div>

					<div class="row student-description__row student-description__row--2">
						<div class="col-12 col-md-6 student__desc student__desc--imgs">
							<img src="{{ theme.path }}/static/img/slider2.jpg" alt="" class="student__desc-img--2 img-fluid"></div>
							<div class="col-12 col-md-6 student__desc">
								<h2 class="t-2 t-bold">Lorem ipsum
									<span class="u-accent">dolor sit</span>
									amett</h2>
								<p class="t-p--serif">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
								<p class="t-p--small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ipsam voluptatibus obcaecati blanditiis officia consequatur eum temporibus, fugit quia quam pariatur odit incidunt provident nam ducimus odio soluta esse? Accusamus harum sit nobis nulla, amet odio a labore aliquam est dolores. Quidem debitis ex magnam enim fugiat nemo, minus animi facilis corporis earum adi!</p>
								<p class="t-p--small t-p--bg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ipsam voluptatibus obcaecati blanditiis officia consequatur eum temporibus, fugit quia quam pariatur odit incidunt provident nam ducimus odio soluta esse? Accusamus harum sit nobis nulla, amet odio a labore aliquam est dolores. Quidem debitis ex magnam enim fugiat nemo, minus animi facilis corporis earum adi!</p>

								<ul class="list student__list--icons">
									<li>
										<img src="{{ theme.path }}/static/img/conversation.png" alt="">
											Komunikatywność
										</li>
										<li>
											<img src="{{ theme.path }}/static/img/smile.png" alt="">
												Życzliwość w stosunku do studentów</li>
											<li>
												<img src="{{ theme.path }}/static/img/peace.png" alt="">
													Niekonfliktowy sposób bycia</li>
											</ul>
										</div>

									</div>

								</div>


							</section>
							<section class="student-desctiption--colored" style="background:url({{ theme.path}}/static/img/graduation.jpg) center / cover fixed">
								<div class="container">
									<div class="row align-items-center">
										<div class="col-12 col-md-6">
											<h2 class="t-2 t-extra">Hello my friend!</h2>
											<p class="t-p--small t-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
											<p class="t-p--small t-p--bg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ipsam voluptatibus obcaecati blanditiis officia consequatur eum temporibus, fugit quia quam pariatur odit incidunt provident nam ducimus odio soluta esse? Accusamus harum sit nobis nulla, amet odio a labore aliquam est dolores. Quidem debitis ex magnam enim fugiat nemo, minus animi facilis corporis earum adi!</p>
										</div>
										<div class="col-auto ml-md-auto">
											<a href="#" class="btn btn--solid">Zapytaj o rekrutacje
												<i class="fa fa-external-link" aria-hidden="true"></i>
											</a>
										</div>
									</div>
								</div>
							</section>
							<section class="cta cta--big cta--student">
								<div class="container cta__container" data-aos="fade-down-short" data-aos-duration="1000">
									<img src="{{ theme.path }}/static/img/zadbamy.jpg)" alt="">
										<a href="#" class="cta-link">


											<div class="row cta__row u-white">
												<h3 class="t-1 t-extra">
													Sprawdź nasze wydawnictwo
												</h3>
												<p class="t-p--medium t-p--serif">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo illum pariatur nam atque rem. Consequuntur, totam libero! Voluptatem, illum quasi?</p>

											</div>
										</a>
									</div>
								</section>
							{% endblock %}
