{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}<body
class="{{body_class}}" data-template="base.twig">
{# <form method="get" id="searchform" action="<?php bloginfo('home'); ?>/">
	<div>
		<input type="text" size="18" value="<?php echo wp_specialchars($s, 1); ?>" name="s" id="s"/>
		<input type="submit" id="searchsubmit" value="Search" class="btn"/>
	</div>
</form> #}
<header class="header">
	<div class="header--top">
		<div class="container header__container u-h-100">
			<div class="row header__row align-items-center u-h-100">


				{% block topheader %}
					<div class="col-md-4">
						<ul class="list header__socials-list">
							<li>
								<a href="#">
									<i class="fa fa-facebook" aria-hidden="true"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-instagram" aria-hidden="true"></i>
								</a>
							</li>

							<li>
								<a href="#">
									<i class="fa fa-youtube" aria-hidden="true"></i>
								</a>
							</li>


						</ul>
					</div>
					<div class="col-md-8 accessibility   u-white">

						<div class="accessibility__menu">
							<div class="accessibility-wrapper" id="accessibility-wrapper">
								{{ function('do_shortcode', '[zeno_font_resizer]') }}

							</div>

							<a href="#" class="btn btn--small btn--white">
								<span class="btn__inner">Wirtualny
									<br>dziekanat</span>
							</a>
							<a href="#" class="btn btn--small btn--white">
								<span class="btn__inner">Platforma
									<br>
									e-learningowa</span>
							</a>

							<a href="#" class="header__search">
								<i class="fa fa-search" aria-hidden="true"></i>
							</a>
						</div>
					</div>

				</div>


			{% endblock %}

		</div>
	</div>
	<div class="nav__container">
		<div class="nav-background"></div>
		<div class="logo__wrapper">
			<a href="{{ site.url }}">
				<img src="{{ theme.path }}/static/img/logo-NWSP.png" alt="NWSP Logo">
			</a>
		</div>

		<nav
			id="nav-main" class="nav-main" role="navigation">

			{# {% include "menu.twig" with {'items': menu.get_items} %} #}
			{{ function('do_shortcode', '[maxmegamenu location=max_mega_menu_1]') }}
		</nav>
	</div>
</div></body></header><section id="content" role="main" class="content-wrapper"> {% block content %}{% endblock %}</section>{% block footer %}
<footer id="footer">
	{% include 'footer.twig' %}
</footer>


{{ function('wp_footer') }}{% endblock %}</body></html>
